<!DOCTYPE html>
{% trans_default_domain 'FOSUserBundle' %}
<html>
<head>
    <title>{{ client_name }} SmartRoad</title>
    <link href="{{ asset('bundles/app/css/application.min.css') }}" rel="stylesheet">
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="{{ asset('bundles/app/css/application-ie9-part2.css') }}" rel="stylesheet">
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body class="login-page">

<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-xs-10 col-xl-offset-4 col-md-offset-3 col-xs-offset-1">
                <h5 class="widget-login-logo animated fadeInUp">
                    <i class="fa fa-circle text-gray"></i>
                    {{ client_name }} | Monitoreo de MP
                    <i class="fa fa-circle text-warning"></i>
                </h5>
                <section class="widget widget-login animated fadeInUp">
                    <header>
                        <h3>Restablecer contraseña</h3>
                    </header>
                    <div class="widget-body">

			<p class="widget-login-info">
La contraseña ha sido restablecida exitosamente.
			</p>
                        <p class="widget-login-info">
{{ 'profile.show.username'|trans }}: {{ user.username }}
			</p class0"widget-login-info">
{{ 'profile.show.email'|trans }}: {{ user.email }}

                        </p>
                        <p class="widget-login-info">
                        </p>
                        <form class="login-form mt-lg" method="post" action="{{ path('fos_user_resetting_send_email') }}">
                            <input type="hidden" name="_csrf_token" value="{% if csrf_token is defined %}{{ csrf_token }}{% endif %}"/>
                            <input type="hidden" name="_target_pat" value="/"/>
                            {#<div class="form-group">
                                <input type="text" class="form-control" id="exampleInputEmail1" name="username" placeholder="Usuario" value="{% if last_username is defined %}{{ last_username }}{% endif %}">
                            </div>
                            <div class="form-group">
                                <input class="form-control" id="pswd" type="password" name="_password" placeholder="Contraseña">
                            </div>#}
                            <div class="clearfix">
                                <div class="btn-toolbar pull-xs-right">
                                    {# <button type="button" class="btn btn-secondary btn-sm">Create an Account</button> #}
{# <a class="btn btn-inverse btn-sm" href="">Login</a> #}
{#<button type="submit class="btn btn-inverse btn-sm">Enviar</button>#}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-push-6">
                                    {# <div class="clearfix">
                                        <div class="abc-checkbox widget-login-info pull-xs-right ml-n-lg">
                                            <input type="checkbox" id="checkbox1" value="1">
                                            <label for="checkbox1">Keep me signed in </label>
                                        </div>
                                    </div> #}
                                </div>

                                <div class="col-md-6 col-md-pull-6">
                                    <a class="mr-n-lg" href="{{ path('fos_user_security_login') }}">Iniciar sesión</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        2016 &copy; <a href="http://www.eye3.cl">Eye3</a>
    </footer>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- common libraries. required for every page-->
<script src="{{ asset('bundles/app/js/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery-pjax/jquery.pjax.js') }}"></script>
<script src="{{ asset('bundles/app/js/tether/dist/js/tether.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/util.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/collapse.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/dropdown.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/button.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/tooltip.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/alert.js') }}"></script>
<script src="{{ asset('bundles/app/js/slimScroll/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('bundles/app/js/widgster/widgster.js') }}"></script>

<!-- common app js -->
<script src="{{ asset('bundles/app/js/settings.js') }}"></script>
<script src="{{ asset('bundles/app/js/app.js') }}"></script>

<!-- page specific libs -->
<!-- page specific js -->
</body>
</html>
