<!DOCTYPE html>
{% import 'buster_macros.html.twig' as buster %}
<html>
    <head>
        <meta charset="UTF-8" />
		<title>{% block title %}SmartRoad - Dashboard{% endblock %}</title>
		<link href="{{ asset('bundles/app/css/application.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/app/css/daterangepicker.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/app/css/bootstrap-multiselect.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/app/css/bootstrap-table.min.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/app/css/bootstrap-datetimepicker.css') }}" rel="stylesheet">
		<link href="{{ asset('bundles/app/css/morris.css') }} rel="stylesheet">
		<!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
		<!--[if IE 9]>
			<link href="{{ asset('bundles/app/css/application-ie9-part2.css') }}" rel="stylesheet">
		<![endif]-->
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />        
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<meta name="description" content="">
		<meta name="author" content="">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% block stylesheets %}
        {% endblock %}
        
		<script>
			/* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
			 chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
			 https://code.google.com/p/chromium/issues/detail?id=332189
			 */
		</script>
    </head>
    <body>

        {% block body %}
<!--div class="content-wrap">-->

  <!--  <nav class="sidebar" id="sidebar" role="navigation">-->
		{% block sidebar_wrap %}
		{% endblock %}

        <!-- need this .js class to initiate slimscroll -->
<!--        <div class="slimScrollDiv" style=
        "position: relative; overflow: hidden; width: auto; height: 652px;">
            <div class="js-sidebar-content" style=
            "overflow: hidden; width: auto; height: 652px;"></div>
            <div class="slimScrollBar" style=
            "width: 4px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 436.9px; background: rgb(0, 0, 0);">
            </div>
            <div class="slimScrollRail" style=
            "width: 4px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(51, 51, 51);">
            </div>
        </div>
    </nav>-->


<!--<div class="content-wrap">-->
<div id="map-canvas" style="position:absolute; width:100%; height: 100%;"></div>
    <!-- main page content. the place to put widgets in. usually consists of .row > .col-lg-* > .widget.  -->
    {% block content_wrap %}
    {% endblock %}
    <main id="content" class="content" role="main">
		{% block content %}
		{% endblock %}

    </main>
<!-- </div>-->
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>        
        {% endblock %}
        {% block javascripts %}

<!-- common libraries. required for every page-->
<script src="{{ asset('bundles/app/js/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery-pjax/jquery.pjax.js') }}"></script>
<script src="{{ asset('bundles/app/js/tether/dist/js/tether.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/util.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/collapse.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/dropdown.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/button.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/tooltip.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/alert.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/modal.js') }}"></script>
<script src="{{ asset('bundles/app/js/slimScroll/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('bundles/app/js/widgster/widgster.js') }}"></script>
<script src="{{ asset('bundles/app/js/pace.js/pace.js') }}" data-pace-options='{ "target": ".content-wrap", "ghostTime": 1000 }'></script>
<script src="{{ asset('bundles/app/js/jquery-touchswipe/jquery.touchSwipe.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-fix/button.js') }}"></script>

<!-- common app js -->
<script src="{{ asset('bundles/app/js/settings.js') }}"></script>
<script src="{{ asset('bundles/app/js/app.js') }}"></script>

<!-- page specific libs -->
<script id="test" src="{{ asset('bundles/app/js/underscore/underscore.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery.sparkline/index.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery.sparkline/index.js') }}"></script>
<script src="{{ asset('bundles/app/js/d3/d3.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/rickshaw/rickshaw.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/raphael/raphael-min.js') }}"></script>
{#<script src="{{ asset('bundles/app/js/jQuery-Mapael/js/jquery.mapael.js') }}"></script>
<script src="{{ asset('bundles/app/js/jQuery-Mapael/js/maps/usa_states.js') }}"></script>
<script src="{{ asset('bundles/app/js/jQuery-Mapael/js/maps/world_countries.js') }}"></script>#}
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/popover.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap_calendar/js/bootstrap_calendar.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery-animateNumber/jquery.animateNumber.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/MetroJS/release/MetroJs.Full/MetroJs.js') }}"></script>
<script src="{{ asset('bundles/app/js/momentjs/moment.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/momentjs/moment-timezone-with-data.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-datetimepicker.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/daterangepicker/daterangepicker.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-multiselect/bootstrap-multiselect.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-table/bootstrap-table.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-table/bootstrap-table-locale-all.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-table/tableExport.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-table/bootstrap-table-export.js') }}"></script>
<script src="{{ asset('bundles/app/js/nvd3/build/nv.d3.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap-slider.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/morris/morris.js') }}"></script>
<script src="{{ asset('bundles/app/js/highcharts/highcharts.js') }}"></script>
<script src="{{ asset('bundles/app/js/highcharts/exporting.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=geometry,drawing&key=AIzaSyA8vWqoQ9Ql4lq4e3zW3-LT_jAPLl3uXn0"></script> {# drawing, geometry #}

<script>
	$(function(){
        $('.js-progress-animate').animateProgressBar();
	});
</script>

	<!-- page specific js -->
	<script src="{{ asset('bundles/app/js/eye3charts.js') }}"></script>
    
        {% endblock %}
    </body>
</html>
