{## 
 # Classes defined in application.css to apply progress bar color:
 # ------------------------------------------------------------------
 # progress-success
 # progress-info
 # progress-warning
 # progress-danger
 # progress-bar-grey
 # progress-bar-grey-light
 #
 #	{{ buster.sidebar_alert_progress({
 #		'title'      : 'Z80 Binary Translator', 
 #		'description': 'Work in progress (75%)',
 #		'progress'   :  75, 
 #		'color'      : 'progress-bar-gray'}) }}
 #
 #}
{% macro sidebar_alert_progress(data) %}
<div class="alert fade in">
	<a href="#" class="close" data-dismiss="alert" aria-hidden="true">×</a>
	<span class="text-white fw-semi-bold">{{ data.title }}</span> <br>
	<div class="bg-gray-transparent progress-bar">
		<progress class="progress progress-xs {{ data.color }} mt-xs mb-0" value="100" max="100" style="width: {{ data.progress }}%"></progress>
	</div>
	<small>{{ data.description }}</small>
</div>
{% endmacro %}



{##
 #
 #	{{ buster.widget_card({
 #		'header': 'I NEVER ASKED FOR', 
 #		'title' : 'THIS',
 #		'left'  : {
 #			'type' : 'static',
 #			'title': 'Fecha',
 #			'value' : '10/02' 
 #		 },
 #		'right' : {
 #			'type' : 'carousel',
 #			'items': [
 #				{'title': 'Elemento 1', 'value': 'UNO'},
 #				{'title': 'Elemento 2', 'value': 'DOS'},
 #				{'title': 'Elemento 3', 'value': 'TRES'},
 #				{'title': 'Elemento 4', 'value': 'CUATRO'},
 #			 ]
 #		 }) }}
 #
 #}
{% macro widget_card(data) %}
<div class="col-lg-3 col-md-6">
	<section class="widget widget-card {{ data.color }} text-white">
		<div class="widget-body clearfix">
			<div class="row">
				<div class="col-xs-3">
					<span class="widget-icon">
						<i class="{{ data.icon }}"></i>
					</span>
				</div>
				<div class="col-xs-9">
					<h6 class="no-margin">{% autoescape false %}{{ data.header }}{% endautoescape %}</h6>
					<p class="h2 no-margin fw-normal">{% autoescape false %}{{ data.title }}{% endautoescape %}</p>
				</div>
			</div>
			<div class="row">
				{% for container in [data.left, data.right] %}
				{% if container.type == 'static' %}
				<div class="col-xs-6">
					<h6 class="no-margin">{% autoescape false %}{{ container.title }}{% endautoescape %}</h6>
					<p class="value5">{% autoescape false %}{{ container.value }}{% endautoescape %}</p>
				</div>
				{% endif %}
				{% if container.type == 'carousel' %}
				<div class="col-xs-6 sm">
					<div class="live-tile carousel ha" data-mode="carousel" data-speed="750" data-delay="1500" data-height="42" style="height: 42px;">
						{% for item in container.items %}
						<div class="slide ha" style="transition-property: transform; transition-duration: 750ms; transition-timing-function: ease; transform: translate(0%, -100%) translateZ(0px);">
							<h6 class="no-margin">{% autoescape false %}{{ item.title }}{% endautoescape %}</h6>
							<p class="value5">{% autoescape false %}{{ item.value }}{% endautoescape %}</p>
						</div>
						{% endfor %}
					</div>
				</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
</div>
{% endmacro %}



{% macro widget_table(data) %}
<section class="widget">
	<header>
		<h6>{% autoescape false %}{{ data.header }}{% endautoescape %}</h6>
		<div class="widget-controls">
			<a href="#"><i class="glyphicon glyphicon-cog"></i></a>
			<a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
		</div>
	</header>
	<div class="widget-body">
		<h3>{% autoescape false %}{{ data.title }}{% endautoescape %}</h3>
		<p>
		Datos de los últimos 6 meses de operación
		</p>
	</div>
	<div class="widget-table-overflow">
		<table class="table table-striped table-lg mt-lg mb-0">
			<thead class="no-bd">
			<tr>
				<th>
				</th>
				<th>Tramo</th>
				<th class="text-xs-right">Agua (m<sup>3</sup>)</th>
				<th class="text-xs-center">Costo Agua (MM$)</th>
				<th class="text-xs-center">Costo Aditivo (MM$)</th>
				<th>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td></td>
				<td>Tramo 1 - Garita Acceso</td>
				<td class="text-xs-center">
					<div class="sparkline" data-type="bar" data-bar-color="#618fb0">20,19,18,17,16,16</div>
				</td>
				<td class="text-xs-right">$2.9</td>
				<td class="text-xs-right">$0.7</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Tramo 2 - Truck Shop</td>
				<td class="text-xs-center">
					<div class="sparkline" data-type="bar" data-bar-color="#618fb0">20,19,18,17,16,16</div>
				</td>
				<td class="text-xs-right">$3.1</td>
				<td class="text-xs-right">$0.9</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Tramo 3 - Ripios</td>
				<td class="text-xs-center">
					<div class="sparkline" data-type="bar" data-bar-color="#618fb0">20,19,18,17,16,16</div>
				</td>
				<td class="text-xs-right">$2.9</td>
				<td class="text-xs-right">$0.7</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Tramo 4 - Chancador</td>
				<td class="text-xs-center">
					<div class="sparkline" data-type="bar" data-bar-color="#618fb0">20,19,18,17,16,16</div>
				</td>
				<td class="text-xs-right">$3.4</td>
				<td class="text-xs-right">$1.1</td>
				<td></td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
{% endmacro %}



{% macro widget_table(data) %}
<section class="widget">
	<header>
		<h6>{% autoescape false %}{{ data.header }}{% endautoescape %}</h6>
		<div class="widget-controls">
			<a href="#"><i class="glyphicon glyphicon-cog"></i></a>
			<a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
		</div>
	</header>
	<div class="widget-body">
		<h3>{% autoescape false %}{{ data.title }}{% endautoescape %}</h3>
		<p>
		Datos de los últimos 6 meses de operación
		</p>
	</div>
	<div class="widget-table-overflow">
		<table class="table table-striped table-lg mt-lg mb-0">
			<thead class="no-bd">
			<tr>
				<th>
				</th>
				<th>Tramo</th>
				<th class="text-xs-right">Agua (m<sup>3</sup>)</th>
				<th class="text-xs-center">Costo Agua (MM$)</th>
				<th class="text-xs-center">Costo Aditivo (MM$)</th>
				<th>
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td></td>
				<td>Tramo 1 - Garita Acceso</td>
				<td class="text-xs-center">
					<div class="sparkline" data-type="bar" data-bar-color="#618fb0">20,19,18,17,16,16</div>
				</td>
				<td class="text-xs-right">$2.9</td>
				<td class="text-xs-right">$0.7</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Tramo 2 - Truck Shop</td>
				<td class="text-xs-center">
					<div class="sparkline" data-type="bar" data-bar-color="#618fb0">20,19,18,17,16,16</div>
				</td>
				<td class="text-xs-right">$3.1</td>
				<td class="text-xs-right">$0.9</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Tramo 3 - Ripios</td>
				<td class="text-xs-center">
					<div class="sparkline" data-type="bar" data-bar-color="#618fb0">20,19,18,17,16,16</div>
				</td>
				<td class="text-xs-right">$2.9</td>
				<td class="text-xs-right">$0.7</td>
				<td></td>
			</tr>
			<tr>
				<td></td>
				<td>Tramo 4 - Chancador</td>
				<td class="text-xs-center">
					<div class="sparkline" data-type="bar" data-bar-color="#618fb0">20,19,18,17,16,16</div>
				</td>
				<td class="text-xs-right">$3.4</td>
				<td class="text-xs-right">$1.1</td>
				<td></td>
			</tr>
			</tbody>
		</table>
	</div>
</section>
{% endmacro %}



{% macro widget_header(data) %}
<header>
	<h6>{% autoescape false %}{{ data.header }}{% endautoescape %}</h6>
	<div class="widget-controls">
		<a href="#"><i class="glyphicon glyphicon-cog"></i></a>
		<a data-widgster="close" href="#"><i class="glyphicon glyphicon-remove"></i></a>
	</div>
</header>
<div class="widget-body">
	<h3>{% autoescape false %}{{ data.title }}{% endautoescape %}</h3>
	<p>
	{% autoescape false %}{{ data.description }}{% endautoescape %}
	</p>
</div>
{% endmacro %}



{% macro widget_header_small(data) %}
<header>
	<h5>
		{% autoescape false %}{{ data.title }}{% endautoescape %}
	</h5>
	<div class="widget-controls">
		<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
	</div>
</header>
{% endmacro %}
