{#-------------------------------------------------------------------#}
{% block google_map_markup %}

			<div id="map-canvas" style="
				overflow:hidden;
				padding-bottom:0;
				position:absolute;
				height:0;
				width:100%">
			</div>
			<style>
				div.gmnoprint { margin-top: 150px; }
			</style>
{% endblock %}

{#-------------------------------------------------------------------#}
{% block google_map_javascript %}
<script>
// Make sure to re-define the onPolygonCreate(event) listener in your template, 
// if you want the drawing tool to be of any use.
function onPolygonCreate(event){
	console.log("onPolygonCreate(event): This function is a stub. Try redefining it to react properly after polygon creation events.");
}

$(function(){
	var 
	latLngCenter = new google.maps.LatLng( -20.058657, -69.264886 ), //CMCC
        latLngSpence = new google.maps.LatLng( -22.787162, -69.256236 ),
	myOptions = {
		minZoom: 11,
		zoom: 14,
		maxZoom: 19,
		center: latLngSpence,
		//mapTypeId: google.maps.MapTypeId.SATELLITE
		mapTypeControlOptions: {
			mapTypeIds: ['Spence']
		}
	},
	map = new google.maps.Map( document.getElementById( 'map-canvas' ), myOptions );

	// Custom styling
	map.data.setStyle(function (feature) {
		// LineString
		var strokeColor = feature.getProperty('strokeColor'),
			strokeWeight = feature.getProperty('strokeWeight'),
			strokeOpacity = feature.getProperty('strokeOpacity');
			
		// Point (Map marker)
		var icon = feature.getProperty('icon');
		
		return {
			strokeColor: strokeColor,
			strokeWeight: strokeWeight,
			strokeOpacity: strokeOpacity,
			icon: icon
		};
	});
	
	// Custom infowindows
	// When the user clicks, open an infowindow
	var infowindow = new google.maps.InfoWindow();
	map.data.addListener('click', function(event) {
		var myHTML = event.feature.getProperty("description");
		if (typeof(myHTML) != "undefined"){
			infowindow.setContent("<div style='width:150px; text-align: center;'>"+myHTML+"</div>");
			infowindow.setPosition(event.feature.getGeometry().get());
			infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
			infowindow.open(map);
		}
	});    

{# CMCC #}
{#  var bounds = {
    14: [[5037,5040],[7258,7261]],
    15: [[10075,10081],[14517,14522]],
    16: [[20151,20163],[29034,29044]],
    17: [[40302,40327],[58068,58088]],
    18: [[80605,80655],[116137,116176]],
    19: [[161210,161311],[232275,232352]]
  };
#}

{# Original: Spence #}
	var bounds = {
		11: [[629,630],[890,891]],
		12: [[1259,1260],[1780,1782]],
		13: [[2519,2520],[3561,3564]],
		14: [[5038,5041],[7123,7128]],
		15: [[10076,10083],[14247,14256]],
		16: [[20152,20166],[28494,28513]],
		17: [[40305,40332],[56989,57027]],
		18: [[80611,80664],[113978,114055]]
	};

	var imageMapType = new google.maps.ImageMapType({
		getTileUrl: function(coord, zoom) {
			var ymax = 1 << zoom;
			var y = ymax - coord.y - 1;

			if (zoom < 14 || zoom > 19 ||
				bounds[zoom][0][0] > coord.x || coord.x > bounds[zoom][0][1] ||
				bounds[zoom][1][0] > y || y > bounds[zoom][1][1]) {
				return null;
			}
//			return ['http://cdn.eye3.cl/maps/cmcc/', zoom, '/', coord.x, '/', y, '.png'].join('');
			return ['http://cdn.eye3.cl/maps/spence/', zoom, '/', coord.x, '/', y, '.png'].join('');
		},
		tileSize: new google.maps.Size(256, 256),
		maxZoom: 19,
		minZoom: 14,
		//name: "CMCC",
		//copyright: "(c) 2016 Eye3"
	});
	//map.overlayMapTypes.push(imageMapType);

	function overlayClickListener(overlay){
		try{
			google.maps.event.addListener(overlay, "mouseup", function(event){
				console.log(overlay.getPath().getArray());
			});
		} catch(e){
			console.log(e.message);
		}
	}

	var drawingManager = new google.maps.drawing.DrawingManager({
		//drawingMode: google.maps.drawing.OverlayType.POLYGON,
		drawingControl: true,
		drawingControlOptions:{
			position:google.maps.ControlPosition.LEFT_BOTTOM,
			drawingModes: [
				google.maps.drawing.OverlayType.POLYGON,
				//google.maps.drawing.OverlayType.RECTANGLE,
			],
		}
	});

	google.maps.event.addListener(drawingManager, "overlaycomplete", function(event){
		onPolygonCreate(event);
	});
	drawingManager.setMap(map);


	map.mapTypes.set('Spence', imageMapType);
	map.setMapTypeId('Spence');

	dustbuster = [];
	dustbuster.map = map;
	dustbuster.layers = [];
	
	// Adding a few markers
	/*var marker = new google.maps.Marker({
		position: new google.maps.LatLng(-22.806753, -69.273393),
		icon: '{{ asset("bundles/app/img/water.png") }}',
		map: map
	});*/
});

</script>
{% endblock %}
