{% block sidebar_markup %}
<!-- sidebar menu -->
<ul class="sidebar-nav">
{% if user.username != "kaltire" %}

	<li id="pagina_principal">
		<a href="{{ path('homepage') }}" data-no-pjax>
			<span class="icon">
				<i class="fa fa-icon fa-calendar"></i>
			</span>
			Página principal
		</a>
	</li>
{% endif %} {# user.username == "kaltire" #}
{# suspendido temporalmente
	<li id="mapa_de_mp">
		<a href="{{ path('map') }}" data-no-pjax>
			<span class="icon">
				<i class="fa fa-icon fa-map-marker"></i>
			</span>
			Mapa de MP
		</a>
	</li>
#}
{% if user.username != "kaltire" %}


{#
	<li id="libro_de_obra">
		<a href="{{ path('calendar_book') }}" data-no-pjax>
			<span class="icon">
				<i class="fa fa-icon fa-pencil"></i>
			</span>
			Libro de obra
		</a>
	</li>
#}

	<li id="riego">
		<a href="{{ path('irrigation') }}" data-no-pjax>
			<span class="icon">
				<i class="glyphicon glyphicon-tint"></i>
			</span>
			Riego	
		</a>
	</li>
	<li id="datos">
		<a href="{{ path('rawdata') }}" data-no-pjax>
			<span class="icon">
				<i class="fa fa-icon fa-bar-chart"></i>
			</span>
			Datos
		</a>
	</li>
	<li id="areas">
		<a href="{{ path('areas') }}" data-no-pjax>
			<span class="icon">
				<i class="fa fa-icon fa-road"></i>
			</span>
			Restricciones
		</a>
	</li>

<!--
	<li id="caminos">
		<a href="{{ path('roads') }}" data-no-pjax>
			<span class="icon">
				<i class="fa fa-icon fa-road"></i>
			</span>
			Caminos
		</a>
	</li>
	<li id="editor">
		<a href="{{ path('editor') }}" data-no-pjax>
			<span class="icon">
				<i class="fa fa-icon fa-road"></i>
			</span>
			Editor
		</a>
	</li>
	<li id="plan">
		<a href="{{ path('plan') }}" data-no-pjax>
			<span class="icon">
				<i class="fa fa-icon fa-road"></i>
			</span>
			Plan de riego
		</a>
	</li>
-->
{% endif %} {# user.username == "kaltire" #}
</ul>
{# A place for sidebar notifications & alerts 
<div class="sidebar-alerts">
{{ buster.sidebar_alert_progress({
	'title'      : 'Z80 Binary Translator', 
	'description': 'Work in progress (75%)',
	'progress'   :  75, 
	'color'      : 'progress-success'}) }}
</div>
#}
{% endblock %}
