{% extends 'base_gmap.html.twig' %}
{% use 'google_map_planning.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
{% endblock %}{# ./content #}

{% block javascripts %}
	{{ parent() }}

	{% block google_map_javascript %}
		{{ parent() }}

	{% endblock %}
	
<script>
	if (typeof(window.dustbuster == "undefined")){
		window.dustbuster = [];
		window.dustbuster.markers = [];
		window.dustbuster.layers = [];
	}

	function deletePolygon(id,name){
		console.log("deletePolygon() stub");
		newdata = {'id': id};
		if (confirm("Confirmar borrado de Area "+ id +": "+ name)){
			console.log("borrar area "+ id);
	                $.ajax({
	                        type: "POST",
	                        url: "{{ path('geofence_areas_delete') }}",
	                        data: { json: JSON.stringify(newdata) },
	                        success: function(data){
					location.reload();
	                        },
				error: function(data){
					alert("No fue posible eliminar el area "+ id +": "+ name);
				}
	                });
		} else {
			console.log("se ha cancelado la operacion");
		}
	}


	// No polygon would register with id=0. This is our new polygon flag
	function registerNewPolygon(id = 0){
		verts = "";
		if (id == 0){
			var vertices = dustbuster.newPolygon.event.overlay.getPath().getArray();
			var verts = "";
			var x = 0;
			for (x=0; x<vertices.length; x++){
				verts += vertices[x].lng() +" "+ vertices[x].lat() +",";
			}
			verts += vertices[0].lng() +" "+ vertices[0].lat();
		}
		var newdata = {
			'id': id,
			'name': $("#form-text-nombre").val(),
			'pattern': $("#form-text-riego").val(),
			'roadtype': $("#form-select-tipo").val(),
			'vertices': verts,
			'rtr': $("#checkbox-rtr").is(":checked"),
			'rtc': $("#checkbox-rtc").is(":checked"),
			'ltr': $("#checkbox-ltr").is(":checked"),
			'ltc': $("#checkbox-ltc").is(":checked")
		};
		$.ajax({
			type: "POST",
			url: "{{ path('geofence_areas_new') }}",
			data: { json: JSON.stringify(newdata) },
			success: function(data){
				console.log("Area registrada correctamente");
				alert("Area registrada correctamente");
				if (id == 0){
					dustbuster.newPolygon.infowindow.close();
					dustbuster.newPolygon.saved = true;
				}
			},
			error: function(data){
				alert("No fue posible registrar nueva area");
			}
		});
		console.log(newdata);
	}

	function onPolygonCreate(event){
		var vertices = event.overlay.getPath().getArray();
		console.log(vertices);

		try {
			$("#form-text-nombre").remove();
			$("#form-text-riego").remove();
			$("#form-select-poligono").remove();
			$("#form-button-submit").remove();
			dustbuster.infowindow.close();

			if (dustbuster.newPolygon.saved == false){
				dustbuster.newPolygon.event.overlay.setMap(null);
				dustbuster.newPolygon.event = null;
				dustbuster.newPolygon.infowindow.close();
			}
		} catch(e) {
			console.log(e.message);
		}

		dustbuster.infowindow = new google.maps.InfoWindow({
			content: ''+
'					<b>Nueva &aacute;rea</b><hr>'+
'					<div class="form-group">'+
'						<label for="form-text-nombre">Nombre</label><br>'+
'						<input id="form-text-nombre" type="text" value="Zona de control"/>'+
'					</div>'+
'					<div class="form-group">'+
'						<label id="patron-de-riego" for="form-text-riego">Patr&oacute;n de riego segmentado ON-OFF (mt)</label><br>'+
'						<input id="form-text-riego" type="text" value="30-30"/>'+
'					</div>'+
'					<div class="form-group">'+
'						<label for="form-select-tipo">Tipo de area</label><br>'+
'						<select id="form-select-tipo">'+
'							<option value="GEOCERCO">Geocerco</option>'+
'							<option value="NO_REGAR">No regar</option>'+
'							<option value="RIEGO_SEGMENTADO">Riego segmentado</option>'+
'							<option value="GENERICO">Generico</option>'+
'						</select>'+
'					</div>'+
'                                       <div class="form-group">'+
'                                               <label for="form-select-aspersores">Aspersores Habilitados</label><br>'+
'                                               <input id="checkbox-rtr" type="checkbox" name="rtr" value="RTR">  RTR<br>'+
'                                               <input id="checkbox-rtc" type="checkbox" name="rtc" value="RTC">  RTC<br>'+
'                                               <input id="checkbox-ltr" type="checkbox" name="ltr" value="LTR">  LTR<br>'+
'                                               <input id="checkbox-ltc" type="checkbox" name="ltc" value="LTC">  LTC<br>'+
'                                               </select>'+
'                                       </div>'+
'					<button id="form-button-submit" type="submit" onclick="registerNewPolygon(0)">Guardar nueva &aacute;rea</button>'
		});

        var marker = new google.maps.Marker({
		position: vertices[0],
		map: dustbuster.map,
		icon: "/bundles/app/resources/img/empty_empty.png",
        });

        dustbuster.infowindow.open(dustbuster.map, marker);

		dustbuster.newPolygon = {
			'event': event,
			'saved': false,
			'infowindow': dustbuster.infowindow
		};

	}

	function initEditor(){
		dustbuster.layers['editor'] = new google.maps.Data();
			
                        window.dustbuster.layers['tracks'] = new google.maps.Data();
                        dustbuster.layers['tracks'].loadGeoJson('bundles/app/geojson/all');

                        dustbuster.layers['tracks'].setStyle(function (feature) {
                                // LineString
                                var strokeColor = feature.getProperty('strokeColor'),
                                        strokeWeight = feature.getProperty('strokeWeight'),
                                        strokeOpacity = feature.getProperty('strokeOpacity');

                                // Point (Map marker)
                                var icon = feature.getProperty('icon');

                                return {
                                        strokeColor:'#e4007c',
					fillColor:'#e4007c',
                                        strokeWeight: 1,
                                        strokeOpacity: 0.25,
					fillOpacity: 0.25,
                                        icon: icon,
                                };
                        });
		dustbuster.layers['tracks'].setMap(dustbuster.map);


		dustbuster.layers['editor'].loadGeoJson("{{ path('geofence_show_areas') }}");
		dustbuster.layers['editor'].setStyle(function (feature) {
			// LineString
			var strokeColor = feature.getProperty('strokeColor'),
				strokeWeight = feature.getProperty('strokeWeight'),
				strokeOpacity = feature.getProperty('strokeOpacity');
				
			// Point (Map marker)
			var icon = feature.getProperty('icon');
			
			return {
				strokeColor: strokeColor,
				strokeWeight: strokeWeight,
				strokeOpacity: strokeOpacity,
				icon: icon
			};
		});

		dustbuster.layers['editor'].setMap(dustbuster.map);

		// Polygon editor
		dustbuster.layers['editor'].addListener('click', function(event) {
			area_id = event.feature.getProperty('area_id');
			area_type = event.feature.getProperty('type'); 
			area_name = event.feature.getProperty('name');
			area_date = event.feature.getProperty('date');
			area_timestamp = event.feature.getProperty('timestamp');
			area_pattern = event.feature.getProperty('pattern');
			area_rtr = event.feature.getProperty('rtr');
			area_rtc = event.feature.getProperty('rtc');
			area_ltr = event.feature.getProperty('ltr');
			area_ltc = event.feature.getProperty('ltc');

			console.log(event.feature);
			console.log("area_id: "+ area_id);
			console.log("area_rtr: "+ area_rtr);
			console.log("area_rtc: "+ area_rtc);
			console.log("area_ltr: "+ area_ltr);
			console.log("area_ltc: "+ area_ltc);
			
			if (typeof(dustbuster.infowindow) != "undefined"){
				dustbuster.infowindow.close();
			}
			dustbuster.infowindow = new google.maps.InfoWindow({
				content: '<b>'+ area_name +'</b> (Area '+ area_id +')<hr>'+
'                                       <div class="form-group">'+
'                                               <label for="form-text-nombre">Nombre</label><br>'+
'                                               <input id="form-text-nombre" type="text" value="'+ area_name +'"/>'+
'                                       </div>'+
'                                       <div class="form-group">'+
'                                               <label id="patron-de-riego" for="form-text-riego">Patr&oacute;n de riego segmentado ON-OFF (mt)</label><br>'+
'                                               <input id="form-text-riego" type="text" value="'+ area_pattern +'"/>'+
'                                       </div>'+
'                                       <div class="form-group">'+
'                                               <label for="form-select-tipo">Tipo de area</label><br>'+
'                                               <select id="form-select-tipo">'+
'                                                       <option value="GEOCERCO">Geocerco</option>'+
'                                                       <option value="NO_REGAR">No Regar</option>'+
'                                                       <option value="RIEGO_SEGMENTADO">Riego segmentado</option>'+
'                                                       <option value="GENERICO">Generico</option>'+
'                                               </select>'+
'                                       </div>'+
'                                       <div class="form-group">'+
'                                               <label for="form-select-aspersores">Aspersores Habilitados</label><br>'+
'                                               <input id="checkbox-rtr" type="checkbox" name="rtr" value="RTR">  RTR<br>'+
'                                               <input id="checkbox-rtc" type="checkbox" name="rtc" value="RTC">  RTC<br>'+
'                                               <input id="checkbox-ltr" type="checkbox" name="ltr" value="LTR">  LTR<br>'+
'                                               <input id="checkbox-ltc" type="checkbox" name="ltc" value="LTC">  LTC<br>'+
'                                               </select>'+
'                                       </div>'+
'                                       <button id="form-button-submit" type="submit" onclick="registerNewPolygon('+ area_id +')">Modificar &aacute;rea</button>'+
'                                       <button id="form-button-delete" type="submit" onclick="deletePolygon('+ area_id +',\''+ area_name +'\')">Eliminar &aacute;rea</button>'
                });




	        var marker = new google.maps.Marker({
			position: event.latLng,
			map: dustbuster.map,
			icon: "/bundles/app/resources/img/empty_empty.png",
	        });

			dustbuster.infowindow.open(dustbuster.map, marker);

			// Set checkboxes and geofence type
			$("#form-select-tipo").val(area_type)
	                if (area_rtr == true) {
				$("#checkbox-rtr").prop("checked",true);
			}
			if (area_rtc == true) {
				$("#checkbox-rtc").prop("checked",true);
			}
			if (area_ltr == true) {
				$("#checkbox-ltr").prop("checked",true);
			}
			if (area_ltc == true) {
				$("#checkbox-ltc").prop("checked",true);
			}
		});
	}

	{# Rock and roll #}
	$(function(){
		//$("#editor").addClass("active");
		initEditor();
	});

</script>
{% endblock %} {# ./javascripts #}
