{% extends 'base.html.twig' %}
{% use 'google_map.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
	{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}



{% block content %}
	<div id="myModal" class="modal fade" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">

                <section class="widget">
                    <header>
                        <h6>
                            <b>Agregar actividad a Libro de Obra<b>
                        </h6>
<br>
<!--
                        <div class="widget-controls">
                            <a class="bg-gray-transparent" href="#"><i class="glyphicon glyphicon-cog text-white"></i></a>
                            <a href="#"><i class="fa fa-refresh"></i></a>
                            <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                        </div>
-->
                    </header>
                    <div class="widget-body">
                        <form role="form">
                            <fieldset>
                                <div class="form-group">
                                    <label for="datepicker">
                                        Fecha y hora de la actividad
                                        <span class="help-block">
                                            Click en el recuadro para activar selector de fecha y hora
                                        </span>
                                    </label>
                                    <div id="datetimepicker" class="input-group">
                                        <input id="datepicker" type="text" class="form-control">
                                        <span class="input-group-addon">
                                            <span class="fa fa-calendar"></span>
                                        </span>
                                    </div>
				<br>
			            <label for="actividad">
					Actividad
				    </label>
				    <input id="actividad" type="text" class="form-control" placeholder="Escriba aqu&iacute; un t&iacute;tulo para denominar la actividad">

				<br>

				    <label for="observaciones">
					Observaciones
				    </label>
                                        <textarea id="observaciones" rows="3" class="autogrow form-control transition-height" id="elastic-textarea" placeholder="Aqu&iacute; se puede anotar informaci&oacute;n adicional referida a la actividad" style="overflow: hidden; word-wrap: break-word; resize: none; height: 161px;"></textarea>

                                </div>
				<br>
				<button id="btn-guardar" type="button" class="btn btn-primary btn-lg">Guardar</button>
                            </fieldset>
                        </form>
                    </div>
                </section>


			</div><!-- ./modal-content -->
		</div> <!-- ./modal-dialog -->
	</div> <!-- ./myModal -->

	<h1 class="page-title">Libro de obra</h1>	
	<div class="row">
		<!-- Abriendo Calendar -->
		<div class="col-xs-12">
			<section class="widget">
				<header>
					<h6>Calendario / Libro de obra</h6>
					<div class="widget-controls">
						<a href="#"><i class="glyphicon glyphicon-cog"></i></a>
						<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
				</header>
				<div class="widget-body no-padding">
					<div id="events-calendar" class="bg-primary-light"></div>
					<div class="list-group">
					</div>
				</div>
			</section>
		</div>		
	</div><!-- ./row -->

	<div class="row">
		<div class="col-xs-12">
			<button id="btn-agregar" type="button" data-toggle="modal" data-target="#myModal" class="btn btn-info btn-lg">Agregar al libro</button>
		</div>
	</div>
		
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	
	<script>
	function initCalendar(){
		var monthNames = ["Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",  "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"];
		var dayNames = ["D", "L", "M", "M", "J", "V", "S"];

		var now = new Date(),
			month = now.getMonth() + 1,
			year = now.getFullYear();

		var events = [
			[
				"2/"+month+"/"+year,
				'The flower bed',
				'#',
				Sing.colors['brand-primary'],
				'Contents here'
			],
			[
				"5/"+month+"/"+year,
				'Stop world water pollution',
				'#',
				Sing.colors['brand-warning'],
				'Have a kick off meeting with .inc company'
			],
			[
				"18/"+month+"/"+year,
				'Light Blue 2.2 release',
				'#',
				Sing.colors['brand-success'],
				'Some contents here'
			],
			[
				"29/"+month+"/"+year,
				'A link',
				'http://www.flatlogic.com',
				Sing.colors['brand-danger']
			]
		];

		var events = [];
		{% for actividad in actividades %}
			events.push([
				"{{ actividad.fecha | date("d/m/Y") }}",
				"Ver actividades del {{ actividad.fecha | date("d/m/Y") }}",
				"/calendar/book/{{ actividad.fecha | date("Y-m-d") }}"
			]);
		{% endfor %}

/*		for (var x=0; x<32; x++){
			events.push([
				x +"/"+ month +"/"+ year,
				'Ver actividades del '+ x +"/"+ month +"/"+ year,
				'/calendar/book/'+ year +'-'+ month +'-'+ x
			]);
		}
*/

		var $calendar = $('#events-calendar');
		$calendar.calendar({
			months: monthNames,
			days: dayNames,
			events: events,
			popover_options:{
				placement: 'top',
				html: true
			},
			//req_ajax: {
			//	type: 'get',
			//	url: '{{ path("calendar_events") }}'
			//}
		});
		$calendar.find('.icon-arrow-left').addClass('fa fa-arrow-left');
		$calendar.find('.icon-arrow-right').addClass('fa fa-arrow-right');
		function restyleCalendar(){
			$calendar.find('.event').each(function(){
				var $this = $(this),
					$eventIndicator = $('<span></span>');
				$eventIndicator.css('background-color', $this.css('background-color')).appendTo($this.find('a'));
				$this.css('background-color', '');
			})
		}
		$calendar.find('.icon-arrow-left, .icon-arrow-right').parent().on('click', restyleCalendar);
		restyleCalendar();
	}

	$(function(){ 
		$("#libro_de_obra").addClass("active");
		initCalendar();
		$("#datepicker").datetimepicker();

		$("#btn-guardar").on("click",function(){
			var data = {
				date: $("#datepicker").val(),
				title: $("#actividad").val(),
				details: $("#observaciones").val()
			};
			console.log(data);
			$("#btn-guardar").html("Guardando...");
			$.post("{{ path('push_calendar_activity') }}", data)
				.done(function( json ) {
					
					$("#btn-guardar").addClass("btn-success").removeClass("btn-primary").html("Guardado!");

					setTimeout(function() {
						$("#btn-agregar").trigger("click");
						$("#btn-guardar").addClass("btn-primary").removeClass("btn-success").html("Guardar");
						$("#datepicker").val("");
						$("#actividad").val("");
						$("#observaciones").val("");
						location.reload();
					}, 2000);
					
				})
				.fail(function( jqxhr, textStatus, error ) {
					var err = textStatus + ", " + error;
					console.log( "Request Failed: " + err );
					$("#btn-guardar").addClass("btn-danger").removeClass("btn-primary").html("No se pudo guardar");

					setTimeout(function() {
						$("#btn-agregar").trigger("click");
						$("#btn-guardar").addClass("btn-primary").removeClass("btn-danger").html("Guardar");
						$("#datepicker").val("");
						$("#actividad").val("");
						$("#observaciones").val("");
					}, 2000);

				});

		});

		$.get("/calendar/activity/date/{{ hoy | date('Y-m-d') }}", function(data){
			console.log(data);
			$(".list-group").append(data);
		});
	});
	</script>
{% endblock %}
