{% extends 'base_gmap.html.twig' %}
{% use 'google_map_camp.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
{% endblock %}{# ./content #}

{% block javascripts %}
	{{ parent() }}

	{% block google_map_javascript %}
		{{ parent() }}

	{% endblock %}
	
<script>
	if (typeof(window.dustbuster == "undefined")){
		window.dustbuster = [];
		window.dustbuster.markers = [];
		window.dustbuster.layers = [];
	}

	function getAreaStats(area){
		//var vertices = dustbuster.newPolygon.event.overlay.getPath().getArray();
		var vertices = area;
		var verts = "";
		var x = 0;
		for (x=0; x<vertices.length; x++){
			verts += vertices[x].lng() +" "+ vertices[x].lat() +",";
		}
		verts += vertices[0].lng() +" "+ vertices[0].lat();
		var newdata = {
			'vehicle': {{ vehicle }},
			'daterange_start': '{{ daterange_start | date('Y-m-d H:i:s') }}',
			'daterange_end': '{{ daterange_end | date('Y-m-d H:i:s') }}',
			'vertices': verts
		};
		$.ajax({
			type: "POST",
			url: "{{ path('stats_camp_area') }}",
			data: { json: JSON.stringify(newdata) },
			success: function(data){
				//dustbuster.newPolygon.infowindow.close();
				console.log("Area consultada");
				//alert("Area registrada correctamente");
				//dustbuster.newPolygon.saved = true;

				$("#infowindow-placeholder")[0].innerHTML="<b>"+data.matches+" Coincidencias</b><hr>"+
					"<b>PM10 Promedio:</b> "+ data.pm10avg +"<br>"+
					"<b>PM2.5 Promedio:</b> "+ data.pm25avg +"<br>"+
					"<b>PM10 Maximo:</b>"+ data.pm10max +"<br>"+
					"<b>PM2.5 Maximo:</b>"+ data.pm25max +"<br>"+
					"<b>Bajo:</b> "+ data.count_low +" mediciones<br>"+
					"<b>Medio:</b> "+ data.count_medium +" mediciones<br>"+
					"<b>Alto:</b> "+ data.count_high +" mediciones<hr>"+
					"<table><tr><td><input id='btn-exportcsv' type='button' value='Descargar CSV'/></td>"+
					"<td><input id='btn-savegeometry' type='button' value='Guardar geometria'/></td></tr></table>";
				dustbuster.campstats = {};
				dustbuster.campdata = [["ID", "DATE", "LATITUDE", "LONGITUDE", "SPEED", "DISTANCE", "PM10(pcc)", "PM2.5(pcc)"]];
				total = data.data.length;
				for(var x=0; x<total; x++){
					dustbuster.campdata.push([
						data.data[x].id,
						data.data[x].date,
						data.data[x].latitude,
						data.data[x].longitude,
						data.data[x].speed,
						data.data[x].distance,
						data.data[x].pm10pcc,
						data.data[x].pm25pcc
					]);
				}
				console.log("CAMPDATA FOLLOWS:");
				console.log(dustbuster.campdata);

				$("#btn-savegeometry").on('click', function(){ onSaveGeometry(); });
				$("#btn-exportcsv").on('click', function(){ onExportCSV(); });
			},
			error: function(data){
				//alert("No fue posible registrar nueva area");
			}
		});
		console.log(newdata);
	}

	{# Pure genius: https://stackoverflow.com/questions/3665115/create-a-file-in-memory-for-user-to-download-not-through-server #}
	function onExportCSV(){
		var a = window.document.createElement('a');
		csv = "ID,DATE,LATITUDE,LONGITUDE,SPEED,DISTANCE,PM10(pcc),PM2.5(pcc)\n";
		
		for (x=1; x<dustbuster.campdata.length; x++){
			csv += dustbuster.campdata[x].join(",") + "\n";
		}
		a.href = window.URL.createObjectURL(new Blob([csv], {type: 'text/csv'}));
		a.download = 'CAMP-{{ vehicle }}-points.csv';
		document.body.appendChild(a);
		a.click();
		document.body.removeChild(a);
	}

	function onSaveGeometry(){
		alert("SaveGeometry");
	}

	function onPolygonCreate(event){
		var vertices = event.overlay.getPath().getArray();
		console.log(vertices);

		try {
			$("#form-text-nombre").remove();
			$("#form-text-riego").remove();
			$("#form-select-poligono").remove();
			$("#form-button-submit").remove();
			dustbuster.infowindow.close();

			if (dustbuster.newPolygon.saved == false){
				dustbuster.newPolygon.event.overlay.setMap(null);
				dustbuster.newPolygon.event = null;
				dustbuster.newPolygon.infowindow.close();
			}
		} catch(e) {
			console.log(e.message);
		}

		dustbuster.infowindow = new google.maps.InfoWindow({
			content: '<div id="infowindow-placeholder"><b>Consultando...</b><hr></div>'
		});
		getAreaStats(vertices);


        var marker = new google.maps.Marker({
        	position: vertices[0],
        	map: dustbuster.map,
        	icon: "/bundles/app/resources/img/empty_empty.png",
        });

        dustbuster.infowindow.open(dustbuster.map, marker);

		dustbuster.newPolygon = {
			'event': event,
			'saved': false,
			'infowindow': dustbuster.infowindow
		};

	}

	function initEditor(){
		dustbuster.layers['editor'] = new google.maps.Data();
		//dustbuster.layers['editor'].loadGeoJson("{{ path('geofence_show_areas') }}");

		dustbuster.layers['editor'].setStyle(function (feature) {
			// LineString
			var strokeColor = feature.getProperty('strokeColor'),
				strokeWeight = feature.getProperty('strokeWeight'),
				strokeOpacity = feature.getProperty('strokeOpacity');
				
			// Point (Map marker)
			var icon = feature.getProperty('icon');
			
			return {
				strokeColor: strokeColor,
				strokeWeight: strokeWeight,
				strokeOpacity: strokeOpacity,
				icon: icon
			};
		});

		dustbuster.layers['editor'].setMap(dustbuster.map);

		// Polygon editor
		dustbuster.layers['editor'].addListener('click', function(event) {
			area_id = event.feature.getProperty('area_id');
			area_type = event.feature.getProperty('type'); 
			area_name = event.feature.getProperty('name');

			console.log(event.feature);
			console.log("area_id: "+ area_id);

			if (typeof(dustbuster.infowindow) != "undefined"){
				dustbuster.infowindow.close();
			}
			dustbuster.infowindow = new google.maps.InfoWindow({
				content: '<b>'+ area_name +'</b> (Area '+ area_id +')<br>'+
				area_type +'<hr><input type="button" id="#form-button-eliminar" value="Eliminar"/>'
			});
	        var marker = new google.maps.Marker({
	        	position: event.latLng,
	        	map: dustbuster.map,
	        	icon: "/bundles/app/resources/img/empty_empty.png",
	        });

			dustbuster.infowindow.open(dustbuster.map, marker);
		});
	}

	{# Rock and roll #}
	$(function(){
		//$("#editor").addClass("active");
		initEditor();
	});

{# Project points #}
$(function(){
	matches = [
	{% for match in data %}
		[{{match.id}},"{{match.date|date('Y-m-d H:i:s')}}",{{match.latitude}},{{match.longitude}},{{match.speed}},{{match.distance}},{{match.pm10pcc}}],
        {% endfor %}
	];

	markers = [];
	for (x in matches){
		marker_icon = "{{ asset('bundles/app/img/pm_green.png') }}";
		if (matches[x][6] > 3000){
			marker_icon = "{{ asset('bundles/app/img/pm_orange.png') }}";
		}
		if (matches[x][6] > 6000){
			marker_icon = "{{ asset('bundles/app/img/pm_red.png') }}";
		}
		markers.push(new google.maps.Marker({
			position: new google.maps.LatLng(matches[x][2], matches[x][3]),
			map: dustbuster.map,
			title: matches[x][0] + ": "+ matches[x][1] + ", PM10: "+ matches[x][6],
			icon: marker_icon,
			id: matches[x][0]
		}));		
	}
});

</script>
{% endblock %} {# ./javascripts #}
