{% extends 'base.html.twig' %}
{% use 'google_map_editor.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
        <h1 class="page-title">{{ client_name }} <small><small>SmartRoad Dashboard <sup>by Eye3</sup></small></small></h1>		
		
		<div class="row">
			<div class="col-lg-12">
				<section class="widget">
				{#{ buster.widget_header_small({ 'title': 'Mapa de material particulado' }) }#}
				{{ buster.widget_header({
					'description': 'Click sobre un poligono para manipularlo<br>Importar geometria desde KML: <form action="'~path('polygon_import_kml')~'" method="post" enctype="multipart/form-data"><input type="file" name="kmlfile" id="kmlfile"><input type="submit" value="Upload" name="btn-upload"></form>',
					'title'      : '<span class="fw-semi-bold">Editor de caminos</span>',
					'header'     : '<span class="fw-semi-bold">Experimental</span>'
					}) }}
					{% block google_map_markup %}
						{{ parent() }}
					{% endblock %}
					</div><!-- ./widget-body -->
				</section>

			</div>
		</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% block google_map_javascript %}
		{{ parent() }}
	{% endblock %}
	
	<script>
		function initEditor(){
			dustbuster.layers['editor'] = new google.maps.Data();
			dustbuster.layers['editor'].loadGeoJson('polygon/show/all');

			dustbuster.layers['editor'].setStyle(function (feature) {
				// LineString
				var strokeColor = feature.getProperty('strokeColor'),
					strokeWeight = feature.getProperty('strokeWeight'),
					strokeOpacity = feature.getProperty('strokeOpacity');
					
				// Point (Map marker)
				var icon = feature.getProperty('icon');
				
				return {
					strokeColor: strokeColor,
					strokeWeight: strokeWeight,
					strokeOpacity: strokeOpacity,
					icon: icon
				};
			});

			dustbuster.layers['editor'].setStyle(function (feature) {
				// LineString
				var strokeColor = feature.getProperty('strokeColor'),
					strokeWeight = feature.getProperty('strokeWeight'),
					strokeOpacity = feature.getProperty('strokeOpacity');

				// Point (Map marker)
				var icon = feature.getProperty('icon');

				return {
					strokeColor: strokeColor,
					strokeWeight: strokeWeight,
					strokeOpacity: strokeOpacity,
					icon: icon
				};
			});


			dustbuster.layers['editor'].setMap(dustbuster.map);

			// Polygon editor
			dustbuster.layers['editor'].addListener('click', function(event) {
				polygon_id = event.feature.getProperty('polygon_id');
				
				console.log(event.feature);
				console.log("polygon_id: "+ polygon_id);
				
				dustbuster.last_polygon = event.feature.getGeometry();
				var latLngArray = [];
				var vertices = dustbuster.last_polygon.getArray()[0];
				for (var x=0; x<vertices.getLength(); x++){
					var lat = vertices.getAt(x).lat();
					var lng = vertices.getAt(x).lng();
					latLngArray.push({lat: lat, lng: lng});
				}

				var editablePolygon = new google.maps.Polygon({
					paths: latLngArray,
					strokeColor: '#0000FF',
					strokeOpacity: 0.8,
					strokeWeight: 2,
					fillColor: '#0000FF',
					fillOpacity: 0.35,
					editable: true
				});

				editablePolygon['polygon_id'] = polygon_id;
				console.log("editablePolygon");
				console.log(editablePolygon);

				editablePolygon.addListener('rightclick', function(event){
					if (typeof(dustbuster.infowindow) != "undefined"){
						dustbuster.infowindow.setMap(null);
						dustbuster.infowindow.close();
						dustbuster.infowindow = null;
					}
					dustbuster.infowindow = new google.maps.InfoWindow();
					dustbuster.infowindow.setContent(
						'<button id="save-polygon">Guardar</button>'
					);
					dustbuster.infowindow.setPosition(event.latLng);
					dustbuster.infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
					dustbuster.infowindow.open(dustbuster.map);
					
					$('#save-polygon').on('click', function(){
						var polygon = editablePolygon;
						var vertices = editablePolygon.latLngs.getAt(0);
						
						var jsondata = {
							polygon_id: polygon.polygon_id,
							vertices: []
						};
						
						for (var x=0; x<vertices.length; x++){
							lat = vertices.b[x].lat();
							lng = vertices.b[x].lng();
							jsondata.vertices.push({lat: lat, lng: lng});
						}

						console.log(jsondata);
						
						$.ajax({
							url: "polygon/write",
							data: jsondata,
							type: "post",
							success: function(json) {
								$('#save-polygon').html("Polígono guardado").fadeOut(2000);
							},
							error:function (xhr, ajaxOptions, thrownError) {
								$('#save-polygon').html("Error al guardar :(");
							}
						});

					});
				});

				dustbuster.layers['editor'].remove(event.feature);
				editablePolygon.setMap(dustbuster.map);
			});
			
			// Attach infowindows to description from GeoJSON data
			dustbuster.layers['editor'].addListener('mouseover', function(event) {
				var myHTML = event.feature.getProperty("description");
				var gpsid = event.feature.getProperty("gpsid");
				var type = event.feature.getProperty("type");

				if (type == "pm"){
					var infowindow = dustbuster.layers['editor'].infowindow;
					var width = "150px";
					if (event.feature.getProperty('icon') == "bundles/app/img/photo.png"){
						width = "400px";
					};
					infowindow.setContent("<div style='width:"+ width +"'; text-align: center;'>"+myHTML+"</div>");
					infowindow.setPosition(event.feature.getGeometry().get());
					infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
					infowindow.open(dustbuster.map);
				}
			});
			dustbuster.layers['editor'].addListener('click', function(event) {
				var myHTML = event.feature.getProperty("description");
				var gpsid = event.feature.getProperty("gpsid");
				var type = event.feature.getProperty("type");

				if (type == "comment" || type == "photo"){
					var infowindow = dustbuster.layers['editor'].infowindow;
					var width = "150px";
					if (event.feature.getProperty('icon') == "bundles/app/img/photo.png"){
						width = "500px";
					};
					infowindow.setContent("<div style='width:"+ width +"'; text-align: center;'>"+myHTML+"</div>");
					infowindow.setPosition(event.feature.getGeometry().get());
					infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
					infowindow.open(dustbuster.map);
				}
			});
			dustbuster.layers['editor'].addListener('mouseout', function(event) {
				var myHTML = event.feature.getProperty("description");
				var gpsid = event.feature.getProperty("gpsid");
				var type = event.feature.getProperty("type");
				if (type == "pm"){
					dustbuster.layers[editor].infowindow.close();
				}
			});

			console.log("initEditor(): done");
		}
		
		
		$(function(){
			$("#editor").addClass("active");			
			initEditor();
			dustbuster.polygon = [];
			dustbuster.layers['editor'].setStyle(function(feature){
				dustbuster.polygon[feature.getProperty('polygon_id')] = feature;
				console.log("Registrando dustbuster.polygon[" + feature.getProperty('polygon_id')+"]");

                                var strokeColor = feature.getProperty('strokeColor');
                                var strokeWeight = feature.getProperty('strokeWeight');
				var strokeOpacity = feature.getProperty('strokeOpacity');

                                // Point (Map marker)
                                var icon = feature.getProperty('icon');

                                return {
                                        strokeColor: strokeColor,
                                        strokeWeight: strokeWeight,
                                        strokeOpacity: strokeOpacity,
                                        icon: icon
                                };
			});
		});

		// data format: array of properties.
		// [{id: 576, color: '#000000'}, ...]
		function highlight(data){
			for (x=0; x<data.length; x++){
				params = data[x];
				feature = dustbuster.polygon[params.id];
				feature.setProperty('strokeColor', params.color);
				feature.setProperty('fillColor', params.color);
				console.log(feature);
				
			}
		}

	</script>
{% endblock %}
