{% extends 'base.html.twig' %}
{% use 'google_map.html.twig' %}
{% use 'sidebar.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
	<h1 class="page-title">{{ client_name }} <small><small>SmartRoad Dashboard <sup>by Eye3</sup></small></small></h1>
		
		
		
	<div class="row">
		{{ buster.widget_card({
			'header': 'PARTICULADO', 
			'title' : 'PM10',
			'color' : 'bg-success',
			'icon'  : 'glyphicon glyphicon-ok-circle',
			'left'  : {
				'type' : 'static',
				'title': 'Fecha',
				'value': dia
			 },
			'right' : {
				'type' : 'carousel',
				'items': [
					{'title': 'Bajo', 'value': pm10_low ~ '%'},
					{'title': 'Aceptable', 'value': pm10_medium ~ '%'},
					{'title': 'Alto', 'value': pm10_high ~ '%'},
				 ]
			 }}) }}

		{{ buster.widget_card({
			'header': 'PARTICULADO', 
			'title' : 'PM2.5',
			'color' : 'bg-success',
			'icon'  : 'glyphicon glyphicon-ok-circle',
			'left'  : {
				'type' : 'static',
				'title': 'Fecha',
				'value': dia
			 },
			'right' : {
				'type' : 'carousel',
				'items': [
					{'title': 'Bajo', 'value': pm25_low ~ '%'},
					{'title': 'Aceptable', 'value': pm25_medium ~ '%'},
					{'title': 'Alto', 'value': pm25_high ~ '%'},
				 ]
			 }}) }}

		{{ buster.widget_card({
			'header': 'MES', 
			'title' : 'N/A m<sup>3</sup>',
			'color' : 'bg-primary',
			'icon'  : 'glyphicon glyphicon-tint',
			'left'  : {
				'type' : 'static',
				'title': '',
				'value': ''
			 },
			'right' : {
				'type' : 'static',
				'title': 'Mes anterior',
				'value': 'N/A m<sup>3</sup>'
			 }}) }}
			 

	</div><!-- row -->
	<div class="row">
		<div class="col-xs-12 col-lg-3 col-sm-6">
			<section class="widget">
				<header>
					<h4>Niveles de<span class="fw-semi-bold"> MP10</span></h4>
					<div class="widget-controls">
						<a href="#" data-widgster="close">
							<i class="glyphicon glyphicon-remove"></i>
						</a>
					</div>
				</header>
				<div class="widget-body">
					<p class="fs-mini text-muted" id="descripcion-piechart">Datos de la medición más reciente<br><b>PM Aire</b></p>
					<div id="piechart-t2" style="width:100%"></div>
					<p class="fs-mini text-muted"><b>PM Camino</b></p>
					<div id="piechart-t1" style="width:100%"></div>
				</div>
			</section>
		</div>
		<div class="col-xs-12 col-lg-9 col-sm-6">
			<section class="widget">
				<header>
					<h4>Niveles de <span class="fw-semi-bold"> MP10 en camino</span></h4>
				</header>
				<div class="widget-body">
					<p id="descripcion-dual-pm-highchart" class="fs-mini text-muted">Datos de la medición más reciente</p>
					<div id="dual-pm-highchart"></div>
				</div>
			</section>
		</div><!-- col -->
	</div><!-- row -->
		
		{#
		<!-- Abriendo tabla -->
		<div class="row">
			<div class="col-lg-12">
			{{ buster.widget_table({
				'header': 'Un discurso <span class="fw-semi-bold">atrevido</span>',
				'title' : '<span class="fw-semi-bold">Monitoreo</span>',
				}) }}
			</div>
		</div>
		#}
		

{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script>
	function initTiles(){
        $(".live-tile").css('height', function(){
            return $(this).data('height')
        }).liveTile();

        $(document).one('pjax:beforeReplace', function(){
            $('.live-tile').liveTile("destroy", true).each(function(){
                var data = $(this).data("LiveTile");
                if (typeof (data) === "undefined")
                    return;
                clearTimeout(data.eventTimeout);
                clearTimeout(data.flCompleteTimeout);
                clearTimeout(data.completeTimeout);
            });
        });
    }
    
	$(function(){
		$("#pagina_principal").addClass("active");
		initTiles();
		
		$.getJSON("{{ path('monitor_levels_mp10') }}", null, function(levels){
			var t1 = levels['pm10_down'];
			var t2 = levels['pm10_up'];

			var piechart_down = function(){
				$('#piechart-t1').sparkline([t1.alto, t1.aceptable, t1.bajo],{
					type: 'pie',
					height: '',
					sliceColors: ['#df4020', '#f0d518', '#20cf20'],
					tooltipFormat: {% raw %}'{{offset:offset}} ({{percent.1}}%)'{% endraw %},
					tooltipValueLookups: {
						'offset': {
							0: 'Alto ['+ t1.alto +']',
							1: 'Aceptable ['+ t1.aceptable +']',
							2: 'Bajo ['+ t1.bajo +']'
						}
					}
				});
				$('#piechart-t2').sparkline([t2.alto, t2.aceptable, t2.bajo],{
					type: 'pie',
					height: '',
					sliceColors: ['#df4020', '#f0d518', '#20cf20'],
					tooltipFormat: {% raw %}'{{offset:offset}} ({{percent.1}}%)'{% endraw %},
					tooltipValueLookups: {
						'offset': {
							0: 'Alto ['+ t2.alto +']',
							1: 'Aceptable ['+ t2.aceptable +']',
							2: 'Bajo ['+ t2.bajo +']'
						}
					}
				});
			};

			var sparkResize;
			$(window).resize(function(e){
				clearTimeout(sparkResize);
				sparkResize = setTimeout(piechart_down, 500);
			});
			piechart_down();

		});


/*		$.getJSON("{{ path('monitor_dual_levels_mp10') }}", null, function(chartdata){
			window.dual_pm_chart = Morris.Line({
				element: 'dual-pm-chart',
				data: chartdata,
				xkey: 'y',
				ykeys: ['pm10_up', 'pm10_down'],
				pointSize: 0,
				lineWidth: 1,  
				labels: ['PM10 Aire', 'PM10 Camino']
			});
			// Responsive
			$(window).resize(function(){
				window.dual_pm_chart.redraw();
			});

		});
*/
		$.getJSON("{{ path('monitor_dual_levels_mp10_highchart') }}", null, function(chartdata){

$date_start = new Date(chartdata.dates.start + (4*3600*1000));
$date_finish = new Date(chartdata.dates.finish + (4*3600*1000));
$("#descripcion-dual-pm-highchart").html("Inicio medición "+ 
$date_start.toDateString()+" "+$date_start.toTimeString()+", fin medición "+ $date_finish.toTimeString());
$("#descripcion-piechart").html("Inicio medición "+ 
$date_start.toDateString()+" "+
$date_start.toTimeString()+", fin medición "+ $date_finish.toTimeString());
Highcharts.chart('dual-pm-highchart', {
        chart: {
            zoomType: 'xy'
        },
        title: {
            text: ''
        },
        subtitle: {
            text: ''
        },
        xAxis: [{
            type: 'datetime',
            //categories: [ chartdata.dates ],
            crosshair: true
        }],
        yAxis: [{ // Primary yAxis
            labels: {
                format: '{value} pcc',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            },
            title: {
                text: 'PM Camino',
                style: {
                    color: Highcharts.getOptions().colors[1]
                }
            }
        }, { // Secondary yAxis
            title: {
                text: 'PM Aire',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            labels: {
                format: '{value} µg/m3',
                style: {
                    color: Highcharts.getOptions().colors[0]
                }
            },
            opposite: true
        }],
        tooltip: {
            shared: true
        },
        legend: {
            layout: 'vertical',
            align: 'left',
            x: 0,
            verticalAlign: 'top',
            y: 0,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
        },
        series: [{
            name: 'PM Aire',
            type: 'spline',
            yAxis: 1,
            data: chartdata.air_data,
            tooltip: {
                valueSuffix: ' µg/m3'
            }

        }, {
            name: 'PM Camino',
            type: 'spline',
            data: chartdata.road_data,
            tooltip: {
                valueSuffix: ' pcc'
            }
        }]
    })
});

		console.log("dia: {{ dia }}");
	});
</script>
{% endblock %}
