{% extends 'base.html.twig' %}
{% use 'google_map.html.twig' %}
{% use 'sidebar.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
	<h1 class="page-title">{{ client_name }} <small><small>SmartRoad Dashboard <sup>by Eye3</sup></small></small></h1>
		
	<div class="row">
		<div class="col-xs-12">
			<section class="widget">
				<header>
					<h5>
						Historial de <span class="fw-semi-bold">Riego</span>
					</h5>
					<div class="widget-controls">
						<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
				</header>
				<div class="widget-body">
					<p class="fs-mini text-muted">
						Datos de los últimos 3 meses
					</p>
					<div id="nvd32"><svg></svg></div>
				</div>
			</section>
		</div>
	</div><!-- row -->
		
		{#
		<!-- Abriendo tabla -->
		<div class="row">
			<div class="col-lg-12">
			{{ buster.widget_table({
				'header': 'Un discurso <span class="fw-semi-bold">atrevido</span>',
				'title' : '<span class="fw-semi-bold">Monitoreo</span>',
				}) }}
			</div>
		</div>
		#}
		

{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script>
    /* Inspired by Lee Byron's test data generator. */
    function _stream_layers(n, m, o) {
        if (arguments.length < 3) o = 0;
        function bump(a) {
            var x = 1 / (.1 + Math.random()),
                y = 2 * Math.random() - .5,
                z = 10 / (.1 + Math.random());
            for (var i = 0; i < m; i++) {
                var w = (i / m - y) * z;
                a[i] += x * Math.exp(-w * w);
            }
        }
        return d3.range(n).map(function() {
            var a = [], i;
            for (i = 0; i < m; i++) a[i] = o + o * Math.random();
            for (i = 0; i < 5; i++) bump(a);
            return a.map(function(d, i) {
                return {x: i, y: Math.max(0, d)};
            });
        });
    }


	function testData(stream_names, pointsCount) {
		var now = new Date().getTime(),
			day = 1000 * 60 * 60 * 24, //milliseconds
			daysAgoCount = 60,
			daysAgo = daysAgoCount * day,
			daysAgoDate = now - daysAgo,
			pointsCount = pointsCount || 45, //less for better performance
			daysPerPoint = daysAgoCount / pointsCount;
		return _stream_layers(stream_names.length, pointsCount, .1).map(function(data, i) {
			return {
				key: stream_names[i],
				values: data.map(function(d,j){
					return {
						x: daysAgoDate + d.x * day * daysPerPoint,
						y: Math.floor(d.y * 100) //just a coefficient,
					}
				})
			};
		});
	}
    
    function initNvd3(){
        nv.addGraph(function() {
            var chart = nv.models.multiBarChart()
                .margin({left: 28, bottom: 30, right: 0})
                .color(['#F7653F', '#ddd']);

            chart.xAxis
                .showMaxMin(false)
                .tickFormat(function(d) { return d3.time.format('%b %d')(new Date(d)) });

            chart.yAxis
                .showMaxMin(false)
                .tickFormat(d3.format(',f'));

//            chart.controls.margin({left: 0});

            d3.select('#nvd32 svg')
                .style('height', '300px')
                .datum(testData(['Aljibe 1', 'Aljibe 2'], 10).map(function(el, i){
                    el.area = true;
                    return el;
                }))
                .transition().duration(500)
                .call(chart)
            ;


            SingApp.onResize(chart.update);

            return chart;
        });
    }    
	$(function(){
		$("#riego").addClass("active");
        initNvd3();
	});
</script>
{% endblock %}
