{% extends 'base.html.twig' %}
{% use 'google_map.html.twig' %}
{% use 'sidebar.html.twig' %}

{% block stylesheets %}
<style>
	.dropdown-menu {
		padding: 10px;
	}
</style>
{% endblock %}

{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
	<h1 class="page-title">{{ client_name }} <small><small>SmartRoad Dashboard <sup>by Eye3</sup></small></small></h1>
		
	<div class="row">
		<div class="col-xs-12">
			<section class="widget">
				<header>
					<h5>
						Datos de <span class="fw-semi-bold">ingreso de regadores a cachimba de agua</span>
					</h5>
					<div class="widget-controls">
						<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
				</header>
				<div class="widget-body">
					<p class="fs-mini text-muted">
					</p>
					<div style="width:100%; height:100%; overflow:scroll; overflow-y:hidden;">
					<table
						style="padding-left: 10px; "
						id="rawdata-table" 
						data-side-pagination="client"
						data-height="0" 
						data-pagination="true" 
						data-page-Size="10"
						data-page-list="[5, 10, 20, 200]"
						data-show-header="true"
						data-show-export="false"
						data-sort-name="id" 
						data-sort-order="desc"
						data-toggle="table">
						<thead>
							<tr>
								<th data-field="id" data-visible="false" data-halign="center" data-align="center" data-sortable="true">Id</th>
								<th data-field="mes" data-halign="center" data-align="center" data-sortable="true">Mes</th>	
								<th data-field="csv" data-halign="center" data-align="center" data-sortable="false">CSV</th>

 
							{#	<th data-field="distancia" data-halign="center" data-align="center" data-sortable="false">Recorrido</th>#}
								{# <th data-field="nombre" data-halign="center" data-align="center" data-sortable="false">Nombre</th> #}
							{#	<th data-field="csv" data-halign="center" data-align="center" data-sortable="false">CSV</th> #}
							{#	<th data-field="excel" data-halign="center" data-align="center" data-sortable="false">Excel</th> #}
							{#	<th data-field="kml" data-halign="center" data-align="center" data-sortable="false">KML</th> #}
							{#	<th data-field="fakegps" data-halign="center" data-align="center" data-sortable="false">NMEA</th> #}
							</tr>
						</thead>
						<tbody>
							<tr>
								<td></td>
								<td>Mayo 2018</td>
								<td><a href="/geofence/visits/25/600">Descargar</a></td>
							</tr>
							
						</tbody>
					</table>
					</div>
				</div>
			</section>
		</div>
	</div><!-- row -->		

{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script>
	$(function(){
		$("#riego").addClass("active");
		$("#rawdata-table").bootstrapTable();
	});
</script>
{% endblock %}
