{% extends 'base_gmap.html.twig' %}
{% use 'google_map_nocontrols.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% block google_map_javascript %}
		{{ parent() }}
	{% endblock %}
	
	<script>

// THIS IS LIVE2
if (typeof(window.dustbuster == "undefined")){
	window.dustbuster = [];
	window.dustbuster.markers = [];
	window.dustbuster.layers = [];
}

function updateMarkers(){
	if (typeof(window.dustbuster.markers) == "undefined"){
		window.dustbuster.markers = [];
	}
	if (typeof(window.dustbuster.layers) == "undefined"){
		window.dustbuster.layers = [];
	}

	$.getJSON("/positiondata/last", function(data){
		for (var v=0; v<data.length; v++){
			if (data[v].type == "CEX"){
				layer = dustbuster.layers['cex'];
				marker_color = "#DF7F1B"; // ANARANJADO - CEX
			}
			if (data[v].type == "REG"){
				layer = dustbuster.layers['reg'];
				marker_color = "#4b4793"; // AZUL - REG
			}
			if (data[v].type == "EMP"){
				layer = dustbuster.layers['emp'];
				marker_color = "#00a79d"; // TURQUESA EYE3 - EMP
			}
			if (data[v].type == "CAM"){
				layer = dustbuster.layers['cam'];
				marker_color = "#c4151c"; // ROJO - CAM
			}

			feature = layer.getFeatureById(data[v].name);
			if (typeof(feature) == "undefined"){
				layer.addGeoJson({
		                        "type": "FeatureCollection",
                		        "features":[{
                                		"id": data[v].name,
		                                "type" : "Feature",
                		                "geometry" : {
                                		        "type" : "Point",
                                        		"coordinates" : [data[v].lon, data[v].lat],
		                                },
                		                "properties" : {
                                		        "title" : data[v].name,
		                                        "icon" : {
                		                                optimized: false,
                                		                anchor: new google.maps.Point(30,70),
                                                		url: ColorSVGMarker(data[v].name, marker_color)
		                                        }
                		                }
		                        }]});
			} else {
                                feature.setGeometry(new google.maps.LatLng(data[v].lat, data[v].lon));
			}			
		}
	});
}


	$(function(){

(function($){
$.fn.disableSelection = function() {
return this
.attr('unselectable', 'on')
.css('user-select', 'none')
.css('-moz-user-select', 'none')
.css('-khtml-user-select', 'none')
.css('-webkit-user-select', 'none')
.on('selectstart', false)
.on('contextmenu', false)
.on('keydown', false)
.on('mousedown', false);
};
})(jQuery);

		console.log(dustbuster.map);
		dustbuster.polygon = [];

		setInterval(function(){
			updateMarkers();
		}, 5000);
		updateMarkers(); // inicial

		setInterval(function(){
			if (typeof(dustbuster.lastMapEvent) == "undefined"){
				dustbuster.lastMapEvent = "2017-03-10";
			};
        
			$.getJSON("events/after/"+ dustbuster.lastMapEvent, function(data){
				for (var v=0; v<data.length; v++){
					updatePolygon(data[v]);
 				}
			});
		}, 15000);

		function updatePolygon(data){
			console.log(data);
			dustbuster.lastMapEvent = data.horaregistro;
			feature = dustbuster.polygon[data.idpoligono];
			if (typeof(feature) == "undefined"){
				console.log("Cannot find polygon "+ data.idpoligono);
				return;
			}
			if (data.tipoevento == 0 || data.tipoevento == 1){
				if (data.tasaideal == 0){
					texto = "No regar";
					strokeColor = '#00aa00';
					fillColor = strokeColor;
				}
				if (data.tasaideal == 1){
					texto = "Riego baja concentración";
					strokeColor = '#ff8c00';
					fillColor = strokeColor;
				}
				if (data.tasaideal == 2){
					texto = "Riego alta concentración";
					strokeColor = '#ff0000';
					fillColor = strokeColor;
				}
			}
			if (data.tipoevento == 2){
				strokeColor = '#0000ff';
				fillColor = strokeColor;
			}
			feature.setProperty("tasaideal", data.tasaideal);
			feature.setProperty("event_type", data.tipoevento);
			feature.setProperty("strokeColor", strokeColor);
			feature.setProperty("fillColor", fillColor);
			feature.setProperty("modificado", false);

			// Importante para riego
 /*                                       var tasa_ideal = event.feature.getProperty("tasaideal");
                                        var tasa_aplicada = event.feature.getProperty("tasaalcanzada");
                                        var velocidad = event.feature.getProperty("velocidadpromedio");
                                        var total_regado = event.feature.getProperty("totalregado");
                                        var hora_ingreso = event.feature.getProperty("horaingreso").date.split('.')[0];
                                        var hora_salida = event.feature.getProperty("horasalida").date.split('.')[0];
                                        var hora_registro = event.feature.getProperty("horaregistro").date.split('.')[0];
                                        var polygon_id = event.feature.getProperty("polygon_id");*/

			feature.setProperty("tasaalcanzada", data.tasaalcanzada);
			feature.setProperty("velocidadpromedio", data.velocidadpromedio);
			feature.setProperty("totalregado", data.totalregado);
			feature.setProperty("horaingreso", data.horaingreso);
			feature.setProperty("horasalida", data.horasalida);
			feature.setProperty("horaregistro", data.horaregistro);
			feature.setProperty("polygon_id", data.idpoligono);
			feature.setProperty("pm10", data.pm10);

		}


                function initPlan(){
                        window.dustbuster.layers['editor'] = new google.maps.Data();
                        dustbuster.layers['editor'].loadGeoJson('bundles/app/geojson/all');

                        dustbuster.layers['editor'].setStyle(function (feature) {
                                // LineString
                                var strokeColor = feature.getProperty('strokeColor'),
                                        strokeWeight = feature.getProperty('strokeWeight'),
                                        strokeOpacity = feature.getProperty('strokeOpacity');

                                // Point (Map marker)
                                var icon = feature.getProperty('icon');

                                return {
                                        strokeColor: strokeColor,
                                        strokeWeight: strokeWeight,
                                        strokeOpacity: strokeOpacity,
                                        icon: icon,
                                };
                        });

                        dustbuster.layers['editor'].setStyle(function (feature) {
				var polygon_id = feature.getProperty("polygon_id");
				dustbuster.polygon[polygon_id] = feature;

                                // LineString
                                var strokeColor = feature.getProperty('strokeColor'),
                                        strokeWeight = feature.getProperty('strokeWeight'),
                                        strokeOpacity = feature.getProperty('strokeOpacity'),
                                        fillColor = feature.getProperty('fillColor'),
                                        fillOpacity = feature.getProperty('fillOpacity');
					irrigationLevel = feature.getProperty('tasaideal');
					event_type = feature.getProperty("event_type");

                                        if (irrigationLevel == 0){
                                                texto = "No regar";
                                                strokeColor = '#00aa00';
						fillColor = strokeColor;
                                        }
                                        if (irrigationLevel == 1){
                                                texto = "Riego baja concentración";
                                                strokeColor = '#ff8c00';
						fillColor = strokeColor;
                                        }
                                        if (irrigationLevel == 2){
                                                texto = "Riego alta concentración";
                                                strokeColor = '#ff0000';
						fillColor = strokeColor;
                                        }
					if (event_type == 2){
						strokeColor = '#0000ff';
						fillColor = strokeColor;
					}

                                // Point (Map marker)
                                var icon = feature.getProperty('icon');

                                return {
                                        strokeColor: strokeColor,
                                        strokeWeight: strokeWeight,
                                        strokeOpacity: strokeOpacity,
                                        fillColor: fillColor,
                                        fillOpacity: fillOpacity,

                                        icon: icon
                                };
                        });




                        dustbuster.layers['editor'].infowindow = new google.maps.InfoWindow();
                        dustbuster.layers['editor'].setMap(dustbuster.map);

                        // Attach infowindows to description from GeoJSON data
                        dustbuster.layers['editor'].addListener('mouseover', function(event) {
                                var event_type = event.feature.getProperty("event_type");
                                var polygon_id = event.feature.getProperty("polygon_id");
                                var irrigationLevel = event.feature.getProperty("tasaideal");
				var pm10_promedio = event.feature.getProperty("pm10");

                                strokeColor = '#ff0000';
                                if (irrigationLevel == 2) {
                                        strokeColor = '#c4151c';
					texto = "Tasa alta";
                                }
                                if (irrigationLevel == 1) {
                                        strokeColor = '#df7e1b';
					texto = "Tasa baja";
                                }
                                if (irrigationLevel == 0){
                                        strokeColor = '#259744';
					texto = "Sin riego";
                                }
                                if (event_type == 0 | event_type == 1){
                                        event.feature.setProperty("strokeColor", strokeColor);
                                        event.feature.setProperty("fillColor", strokeColor);
                                }
				if (event_type == 2){
					event.feature.setProperty("strokeColor", "#0000ff");
					event.feature.setProperty("fillcolor", "#0000ff");
				}
			
				if (typeof(irrigationLevel) != "undefined"){
					if (irrigationLevel.toFixed(1) == 0){
						tasa_texto = "SIN RIEGO";
					}
					if (irrigationLevel.toFixed(1) == 1){
						tasa_texto = "BAJA";
					}
					if (irrigationLevel.toFixed(1) == 2){
						tasa_texto = "ALTA";
					}
				}

                                if (event_type == -1 || typeof(event_type)=="undefined"){
                                        myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
                                        myHTML += //'<tr><td style="border-bottom: 1px solid #ddd;"><b>Polygon</b></td>'+
                                                //'<td style="border-bottom: 1px solid #ddd;"><b>Event type</b></td>'+
                                                '</tr><tr><td>Area '+ polygon_id +'</td></tr>'+
                                                '<tr id="suggestionrow"><td><b>No registra actividad</b></td></tr>'+
                                                '</table></div>';

                                } else if (event_type == 0){
					myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
					myHTML += '<tr id="suggestionrow"><td colspan=3 style="color:'+ strokeColor +'"><b>'+ texto +', establecido desde web</b></td></tr>';
                                        myHTML += '</table></div>';

                                        /*var tasaideal = event.feature.getProperty("tasaideal");
                                        myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
                                        myHTML += '<tr><td style="border-bottom: 1px solid #ddd;"><b>Polygon</b></td>'+
                                                '<td style="border-bottom: 1px solid #ddd;"><b>Event type</b></td>'+
                                                '</tr><tr><td>'+ polygon_id +'</td><td>'+ event_type +'</td></tr>'+
                                                '<tr id="suggestionrow"><td><b>Tasa de riego '+ tasa_texto +' establecida desde web</b></td></tr>'+
                                                '</table></div>';*/


				} else if (event_type == 1){
                                        myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
                                        myHTML += '<tr id="suggestionrow"><td colspan=3 style="color:'+ strokeColor +'"><b>'+ texto +', establecido desde monitoreo (PM10 promedio: '+ pm10_promedio +' pcc)</b></td></tr>';
                                        myHTML += '</table></div>';

                                        /*var tasaideal = event.feature.getProperty("tasaideal");
                                        myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
                                        myHTML += '<tr><td style="border-bottom: 1px solid #ddd;"><b>Polygon</b></td>'+
                                                '<td style="border-bottom: 1px solid #ddd;"><b>Event type</b></td>'+
                                                '</tr><tr><td>'+ polygon_id +'</td><td>'+ event_type +'</td></tr>'+
                                                '<tr id="suggestionrow"><td><b>Tasa de riego '+ tasa_texto +' establecida desde monitoreo</b></td></tr>'+
                                                '</table></div>';*/


                                } else if (event_type == 2){
					var tasa_ideal = event.feature.getProperty("tasaideal");
					var tasa_aplicada = event.feature.getProperty("tasaalcanzada");
					var velocidad = event.feature.getProperty("velocidadpromedio");
					var total_regado = event.feature.getProperty("totalregado");
					var hora_ingreso = event.feature.getProperty("horaingreso");//.date.split('.')[0];
					var hora_salida = event.feature.getProperty("horasalida");//.date.split('.')[0];
					var hora_registro = event.feature.getProperty("horaregistro");//.date.split('.')[0];
					var polygon_id = event.feature.getProperty("polygon_id");

					myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
                                        myHTML += //'<tr><td style="border-bottom: 1px solid #ddd;"><b>Polygon</b></td>'+
                                                '<td style="border-bottom: 1px solid #ddd;"><b>Tramo '+ polygon_id +'</b></td>'+
                                                //'</tr><tr><td>'+ polygon_id +'</td><td>'+ event_type +'</td></tr>'+
						'<tr><td>Tasa sugerida '+ tasa_texto +' </td></tr>'+
                                                '<tr id="suggestionrow"><td><b>Regado a '+tasa_aplicada.toFixed(1)+' lt/m<sup>2</sup></td></tr>'+
						'<tr><td><b>Velocidad promedio '+ velocidad.toFixed(1) +' km/h</b></td></tr>'+
						'<tr><td><b>Total regado '+ total_regado.toFixed(1) +' Lt</b></td></tr>'+
						'<tr><td>Hora ingreso '+ hora_ingreso +' </td></tr>'+
						'<tr><td>Hora salida '+ hora_salida +' </td></tr>'+
						'<tr><td>Hora registro '+ hora_registro +' </td></tr>'+
                                                '</table></div>';
				}

                                if (1){
                                        /*myHTML += '<tr style="height:10px;"></tr>';
                                        myHTML += '<tr><td colspan=3><b>Polígono: </b>'+ polygon_id +'</td></tr>';
                                        myHTML += '<tr><td colspan=3><b>Promedio PM10: </b>'+ pm10avg +'</td></tr>';
                                        myHTML += '<tr><td colspan=3><b>Promedio PM2.5: </b>'+ pm25avg +'</td></tr>';

                                        var texto = "No se obtuvo sugerencia de riego";
                                        if (irrigationLevel == 0){
                                                texto = "No regar";
                                                strokeColor = '#00aa00';
                                        }
                                        if (irrigationLevel == 1){
                                                texto = "Riego baja concentración";
                                                strokeColor = '#ff8c00';
                                        }
                                        if (irrigationLevel == 2){
                                                texto = "Riego alta concentración";
                                                strokeColor = '#ff0000';
                                        }
                                        myHTML += '<tr id="suggestionrow"><td colspan=3 style="color:'+ strokeColor +'"><b>'+ texto +'</b></td></tr>';
                                        myHTML += '</table></div>'; */
                                        var infowindow = dustbuster.layers['editor'].infowindow;
                                        infowindow.setContent("<div class='infowindow-content' style='width: 250px; text-align: center;'>"+ myHTML +"</div>");
                                        infowindow.setPosition(event.latLng);
                                        infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
                                        infowindow.open(dustbuster.map);

                                        $('.infowindow-content').disableSelection();
                                }
                        });
                        dustbuster.layers['editor'].addListener('click', function(event) {
                                newIrrigationLevel = event.feature.getProperty("tasaideal");
                                if (typeof(newIrrigationLevel) != "undefined"){
                                        newIrrigationLevel += 1;
                                } else {
                                        newIrrigationLevel = 0;
                                }
                                if (newIrrigationLevel > 2){ newIrrigationLevel = 0; }

                                strokeColor = '#ff0000';

                                if (newIrrigationLevel == 0) {
					tipo_riego = "Sin riego";
                                        strokeColor = '#9abd31';
                                }
                                if (newIrrigationLevel == 1) {
                                        strokeColor = '#df7e1b';
					tipo_riego = "Tasa media";
                                }
                                if (newIrrigationLevel == 2){
                                        strokeColor = '#c4151c';
					tipo_riego = "Tasa alta";
                                }

                                event.feature.setProperty("strokeColor", strokeColor);
                                event.feature.setProperty("fillColor", strokeColor);
                                event.feature.setProperty("tasaideal", +newIrrigationLevel.toFixed(1));
                                event.feature.setProperty("event_type", 0);     {# event_type 0: Manipulacion de poligono desde la web #}
                                event.feature.setProperty("modificado", true);  {# para identificar los poligonos que debemos actualizar #}

                                if (newIrrigationLevel == 0){
                                        texto = '<b>Sin riego, establecido desde web</b>';
                                } else {
                                        texto = '<b>'+ tipo_riego +', establecido desde web</b>';
					//'<b>Tasa de riego ('+ newIrrigationLevel.toFixed(1) +' lt/m<sup>2</sup>) establecida desde web</b>';
                                }
                                $('#suggestionrow').html('<td colspan=3 style="color:'+ strokeColor +'"><b>'+ texto +'</b></td>');
                        });
                        dustbuster.layers['editor'].addListener('mouseout', function(event) {
                                if (1){
                                        dustbuster.layers['editor'].infowindow.close();
                                }
                        });
                        console.log("initPlan(): done");
			$("#checkbox_tra").prop("checked", true);
                }




                function createIrrigationSummary(){
                        window.dustbuster.layers['editor'].toGeoJson( function(geoJson){
                                dustbuster.irrigationSummary = "";
                                var counter = 0;
                                for (var x=0; x<geoJson.features.length; x++){
                                        if (geoJson.features[x].properties.event_type == 0 && geoJson.features[x].properties.modificado == true){
                                                dustbuster.irrigationSummary += geoJson.features[x].properties.polygon_id +","+ geoJson.features[x].properties.tasaideal +";";
                                                counter++;
						console.log("confirmando "+ geoJson.features[x].properties.polygon_id +" con tasa "+ geoJson.features[x].properties.tasaideal);
                                        }
                                }
                                dustbuster.irrigationSummary = dustbuster.irrigationSummary.slice(0, -1);
                                console.log("IRRIGATION SUMMARY");
                                console.log(dustbuster.irrigationSummary);

                                $.ajax({
                                        url: "events/irrigation/submit",
                                        data: {irrigationSummary: dustbuster.irrigationSummary},
                                        type: "post",
                                        beforeSend: function(xhr, settings){
                                                $('#controltext').html("Enviando... ("+ counter +")");
                                        },
                                        success: function(json) {
                                                $('#controltext').html("Modificaciones confirmadas");
                                                setTimeout(function(){
                                                        $('#controltext').html("Guardar modificaciones");
                                                }, 3000);
                                        },
                                        error:function (xhr, ajaxOptions, thrownError) {
                                                $('#controltext').html("Error durante registro de modificaciones");
                                        }
                                });

                        });
                }


		// Animated markers
		setInterval(function(){
			if (typeof(window.dustbuster.markers) == "undefined"){
                		window.dustbuster.markers = [];
		        }
			for (var x=0; x<window.dustbuster.markers.length; x++){
				dustbuster.markers[x].setPosition(dustbuster.markers[x].getPosition());
			}
		},15);


		// Defining a few data layers
                // CAM LAYER
                dustbuster.layers['cam'] = new google.maps.Data();
                dustbuster.layers['cam'].addListener('mouseover', function(event){
                        console.log("CAM marker - mouseover");
                });
                dustbuster.layers['cam'].addListener('mouseout', function(event){
                        console.log("CAM marker - mouseout");
                });

                dustbuster.layers['cam'].setStyle(function(feature){
                        var marker_icon = feature.getProperty("icon");
                        return {
                                icon: marker_icon
                        };
                });
                {# AUTOREFRESH ALL MARKERS #}
                setInterval(function(){
                        dustbuster.layers['cam'].forEach(function(feature){
                                var geometry = feature.getGeometry();
                                var lat = geometry.b.lat();
                                var lng = geometry.b.lng();
                                feature.setGeometry(new google.maps.LatLng(lat,lng));
                        });
                }, 40);
                dustbuster.layers['cam'].setMap(dustbuster.map);



                // EMP LAYER
                dustbuster.layers['emp'] = new google.maps.Data();
                dustbuster.layers['emp'].addListener('mouseover', function(event){
                        console.log("EMP marker - mouseover");
                });
                dustbuster.layers['emp'].addListener('mouseout', function(event){
                        console.log("EMP marker - mouseout");
                });

                dustbuster.layers['emp'].setStyle(function(feature){
                        var marker_icon = feature.getProperty("icon");
                        return {
                                icon: marker_icon
                        };
                });
                {# AUTOREFRESH ALL MARKERS #}
                setInterval(function(){
                        dustbuster.layers['emp'].forEach(function(feature){
                                var geometry = feature.getGeometry();
                                var lat = geometry.b.lat();
                                var lng = geometry.b.lng();
                                feature.setGeometry(new google.maps.LatLng(lat,lng));
                        });
                }, 40);
                dustbuster.layers['emp'].setMap(dustbuster.map);



                // REG LAYER
                dustbuster.layers['reg'] = new google.maps.Data();
                dustbuster.layers['reg'].addListener('mouseover', function(event){
                        console.log("REG marker - mouseover");
                });
                dustbuster.layers['reg'].addListener('mouseout', function(event){
                        console.log("REG marker - mouseout");
                });

                dustbuster.layers['reg'].setStyle(function(feature){
                        var marker_icon = feature.getProperty("icon");
                        return {
                                icon: marker_icon
                        };
                });
                {# AUTOREFRESH ALL MARKERS #}
                setInterval(function(){
                        dustbuster.layers['reg'].forEach(function(feature){
                                var geometry = feature.getGeometry();
                                var lat = geometry.b.lat();
                                var lng = geometry.b.lng();
                                feature.setGeometry(new google.maps.LatLng(lat,lng));
                        });
                }, 40);
                dustbuster.layers['reg'].setMap(dustbuster.map);




		// CEX LAYER
		dustbuster.layers['cex'] = new google.maps.Data();
		dustbuster.layers['cex'].addListener('mouseover', function(event){
			console.log("CEX marker - mouseover");
		});
		dustbuster.layers['cex'].addListener('mouseout', function(event){
			console.log("CEX marker - mouseout");
		});

		dustbuster.layers['cex'].setStyle(function(feature){
			var marker_icon = feature.getProperty("icon");
			return {
				icon: marker_icon
			};
		});
		{# AUTOREFRESH ALL MARKERS #}
		setInterval(function(){
			dustbuster.layers['cex'].forEach(function(feature){
				var geometry = feature.getGeometry();
				var lat = geometry.b.lat();
				var lng = geometry.b.lng();
				feature.setGeometry(new google.maps.LatLng(lat,lng));
			});
		}, 40);
		dustbuster.layers['cex'].setMap(dustbuster.map);


		
		


		// PALAS LAYER
		dustbuster.layers['palas'] = new google.maps.Data();
		dustbuster.layers['palas'].addListener('mouseover', function(event){
			console.log("PALAS marker - mouseover");
		});
		dustbuster.layers['palas'].addListener('mouseout', function(event){
			console.log("mouseout");
			window.test = event;
		});
		dustbuster.layers['palas'].setStyle(function(feature){
			var marker_icon = feature.getProperty("icon");
			return {
				icon: marker_icon
			};
		});
		{# Autorefresh all icons #}
		setInterval(function(){
			dustbuster.layers['palas'].forEach(function(feature){
				var geometry = feature.getGeometry();
				var lat = geometry.b.lat();
				var lng = geometry.b.lng();
				feature.setGeometry(new google.maps.LatLng(lat,lng));
			});
		}, 40);

		{# Adding markers to a specific layer using JSON expressions #}
		window.test = dustbuster.layers['palas'].addGeoJson({
			"type": "FeatureCollection",
			"features":[{
				"id": "PALA 1",
				"type" : "Feature",
				"geometry" : {
					"type" : "Point",
					"coordinates" : [-69.24996, -22.787800],
				},
				"properties" : {
					"title" : "PALA 1",
					"icon" : {
						optimized: false,
						anchor: new google.maps.Point(30,70),
						url: ColorSVGMarker("PALA 1", "#4477FF")
					}
				}
			},{
				"id": "PALA 2",
				"type" : "Feature",
				"geometry" : {
					"type" : "Point",
					"coordinates" : [-69.2438, -22.7749],
				},
				"properties" : {
					"icon" : {
						optimized: false,
						anchor: new google.maps.Point(30,70),
						url: ColorSVGMarker("PALA 2", "#4477FF")
					}
				}
			}]
		});

		dustbuster.layers['palas'].setMap(dustbuster.map);

/*
		// Defining markers
		window.cachimba = new google.maps.Marker({
			position: new google.maps.LatLng(-22.787172, -69.259189),
			map: dustbuster.map,

			icon: {
				optimized: false,
				anchor:new google.maps.Point(30,70),
				url: ColorSVGMarker("Cachimba","#00FF00"),
			}
		});

		window.aljibe02 = new google.maps.Marker({
			position: new google.maps.LatLng(-22.7860685, -69.261168),
			map: dustbuster.map,
			icon: {
				optimized: false,
				anchor:new google.maps.Point(30,70),
				url: ColorSVGMarker("Aljibe 02", "#FF0000"),
			}
		});

                window.pala01 = new google.maps.Marker({
                        position: new google.maps.LatLng(-22.7878,-69.24996),
                        map: dustbuster.map,
                        icon: {
                                optimized: false,
                                anchor:new google.maps.Point(30,70),
                                url: ColorSVGMarker("Pala 1","#0000ff"),
                        }
                });

                window.pala01 = new google.maps.Marker({
			position: new google.maps.LatLng(-22.7749,-69.2438),
                        map: dustbuster.map,
                        icon: {
                                optimized: false,
                                anchor:new google.maps.Point(30,70),
                                url: ColorSVGMarker("Pala 2","#FFFFFF"),
                        }
                });
*/

		google.maps.event.addListenerOnce(dustbuster.map, 'idle', function(){
			var div = document.createElement('div');
			div.id = "menu_capas";
			dustbuster.map.controls[google.maps.ControlPosition.TOP_RIGHT].push(div);

			$("#menu_capas").html(
'<div id="floating_layer_menu" draggable="false" style="direction: ltr; overflow: hidden; text-align: left; position: relative;' +
'                font-family: Helvetica; font-weight: bold; user-select: none; font-size: 12px;' +
'                color:rgb(255,255,255); background-color: rgba(0,0, 0, 0.5); padding: 8px; border-radius: 2px;'+
'                -webkit-background-clip: padding-box; background-clip: padding-box;'+
'                box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px; min-width: 0px; font-weight: 500;">'+
'        <form>'+
'        <b>Capas disponibles</b><hr>'+
'        <label><input id="checkbox_emp" type="checkbox" checked name="estaciones_fijas"> EMP </label><br>'+
'        <label><input id="checkbox_cex" type="checkbox" checked name="cex"> CEX </label><br>'+
'        <label><input id="checkbox_reg" type="checkbox" checked name="aljibes"> REG </label><br>'+
'        <label><input id="checkbox_cam" type="checkbox" checked name="camionetas"> CAM </label></br>'+
'        <label><input id="checkbox_pal" type="checkbox" checked name="caminos"> PAL </label></br>'+
'	 <label><input id="checkbox_tra" type="checkbox" checked name="tramos"> TRA </label></br>'+
'        </form>'+
'</div>'
);
                 $('#checkbox_tra').change(function() {
                        if ($(this).is(':checked')){
                                dustbuster.layers['editor'].setMap(dustbuster.map);
                        } else {
                                dustbuster.layers['editor'].setMap(null);
                        }
                 });

                 $('#checkbox_cam').change(function() {
                        if ($(this).is(':checked')){
                                dustbuster.layers['cam'].setMap(dustbuster.map);
                        } else {
                                dustbuster.layers['cam'].setMap(null);
                        }
                 });

                 $('#checkbox_emp').change(function() {
                        if ($(this).is(':checked')){
                                dustbuster.layers['emp'].setMap(dustbuster.map);
                        } else {
                                dustbuster.layers['emp'].setMap(null);
                        }
                 });

                 $('#checkbox_reg').change(function() {
                        if ($(this).is(':checked')){
                                dustbuster.layers['reg'].setMap(dustbuster.map);
                        } else {
                                dustbuster.layers['reg'].setMap(null);
                        }
                 });

		 $('#checkbox_cex').change(function() {
                        if ($(this).is(':checked')){
                                dustbuster.layers['cex'].setMap(dustbuster.map);
                        } else {
                                dustbuster.layers['cex'].setMap(null);
                        }
               	 });
             	   $('#checkbox_pal').change(function() {
               	        if ($(this).is(':checked')){
                               dustbuster.layers['palas'].setMap(dustbuster.map);
                        } else {
                                dustbuster.layers['palas'].setMap(null);
	                        }
        	        });


		});
		google.maps.event.addListener(dustbuster.map, 'idle', function(){
			$(".gm-style-mtc").html("");
		});

                        /**
                         * The SaveControl submits current irrigation plan to server.
                         * @constructor
                         */
                        function SaveControl(controlDiv, map) {
                          // Set CSS for the control border.
                          var controlUI = document.createElement('div');
                          controlUI.style.backgroundColor = '#fff';
                          controlUI.style.border = '2px solid #fff';
                          controlUI.style.borderRadius = '3px';
                          controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
                          controlUI.style.cursor = 'pointer';
                          controlUI.style.marginBottom = '22px';
                          controlUI.style.marginTop = '5px';
                          controlUI.style.textAlign = 'center';
                          controlUI.title = 'Confirma este programa de riego para enviarlo a camión aljibe';
                          controlDiv.appendChild(controlUI);
                          // Set CSS for the control interior.
                          var controlText = document.createElement('div');
                          controlText.id = 'controltext';
                          controlText.style.color = 'rgb(25,25,25)';
                          controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
                          controlText.style.fontSize = '16px';
                          controlText.style.lineHeight = '38px';
                          controlText.style.paddingLeft = '5px';
                          controlText.style.paddingRight = '5px';
                          controlText.innerHTML = 'Guardar modificaciones';
                          controlUI.appendChild(controlText);

                          // Define what happens after clicking this control.
                          controlUI.addEventListener('click', function() {
                                createIrrigationSummary();
                          });
                        }

                        window.saveControlDiv = document.createElement('div');
                        SaveControl(saveControlDiv, dustbuster.map);
                        saveControlDiv.index = 2;
                        dustbuster.map.controls[google.maps.ControlPosition.TOP_CENTER].push(saveControlDiv);
			initPlan();					
	});


function ColorSVGMarker(name,color){
	return 'data:image/svg+xml;utf-8, \
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\
	 width="200px" height="100px" viewBox="0 0 200 100" enable-background="new 0 0 200 100" xml:space="preserve">\
<rect x="67" y="34.156" fill="'+ color +'" width="45.303" height="10.723"/>\
<path fill="none" stroke="'+ color +'" stroke-width="2" d="M26.376,56.477c-7.468,2.002-11.9,9.679-9.899,17.146s9.678,11.9,17.146,9.9\
	c7.468-2.002,11.9-9.679,9.899-17.146C41.883,60.256,36.336,56,30,56">\
<animateTransform  type="rotate" fill="remove" dur="2s" accumulate="none" additive="replace" calcMode="linear" restart="always" from="0 30 70" attributeName="transform" to="360 30 70" attributeType="xml" repeatCount="indefinite">\
		</animateTransform>\
</path>\
<line fill="none" stroke="'+ color +'" x1="45" y1="55" x2="60" y2="40"/>\
<line fill="none" stroke="'+ color +'" x1="60" y1="40" x2="67" y2="40"/>\
<text transform="matrix(1 0 0 1 69.7549 42.5107)" fill="#FFFFFF" font-family="Open Sans" font-weight="bold" font-size="8">'+ name +'</text>\
<circle fill="'+ color +'" cx="0" cy="0" r="7.468" transform="translate(30 70)">\
  <animateTransform attributeType="xml"\
                attributeName="transform"\
                type="scale"\
                from="1 1"\
                to="0.6 0.6"\
                additive="sum"\
                repeatCount="indefinite"\
                dur="0.5s" fill="freeze" />\
</circle>\
</svg>';
}


function SVGMarker(name){
	return 'data:image/svg+xml;utf-8, \
<svg viewBox="0 0 200 100" width="200" height="100" xmlns="http://www.w3.org/2000/svg"> \
<path fill="none" stroke="black" stroke-width="1" d="M 25.34125718815463 52.61333512679677 A 18 18 0 1 0 30 52"> \
<animateTransform attributeType="xml" attributeName="transform" type="rotate"\
                    from="0 30 70"\
                    to="360 30 70"\
                    dur="2s"\
                    repeatCount="indefinite"/>\
</path>\
<path fill="none" stroke="black" stroke-width="2" d="M 26.37653336856471 56.47703843195305 A 14 14 0 1 0 30 56">\
<animateTransform attributeType="xml"\
                    attributeName="transform"\
                    type="rotate"\
                    from="0 30 70"\
                    to="360 30 70"\
                    dur="6s"\
                    repeatCount="indefinite"/>\
</path> \
<line x1="45" y1="55" x2="60" y2="40" style="stroke:rgb(0,0,0);stroke-width:1" /> \
<line x1="60" y1="40" x2="67" y2="40" style="stroke:rgb(0,0,0);stroke-width:1" /> \
<text x="75" y="45" fill="black" font-size="9pt" font-family="Courier" font-weight="bold">'+ name +'</text> \
</svg>';

}



function polarToCartesian(centerX, centerY, radius, angleInDegrees) {
  var angleInRadians = (angleInDegrees-90) * Math.PI / 180.0;

  return {
    x: centerX + (radius * Math.cos(angleInRadians)),
    y: centerY + (radius * Math.sin(angleInRadians))
  };
}

function describeArc(x, y, radius, startAngle, endAngle){

    var start = polarToCartesian(x, y, radius, endAngle);
    var end = polarToCartesian(x, y, radius, startAngle);

    var largeArcFlag = endAngle - startAngle <= 180 ? "0" : "1";

    var d = [
        "M", start.x, start.y, 
        "A", radius, radius, 0, largeArcFlag, 0, end.x, end.y
    ].join(" ");

    return d;       
}

	</script>
{% endblock %}
