{% extends 'base.html.twig' %}
{% use 'google_map.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
        <h1 class="page-title">{{ client_name }} <small><small>SmartRoad Dashboard <sup>by Eye3</sup></small></small></h1>		
		
		<div class="row">
			<div class="col-lg-12">
				<section class="widget">
				{#{ buster.widget_header_small({ 'title': 'Mapa de material particulado' }) }#}
				{{ buster.widget_header({
					'description': 'Seleccione un rango de fechas para obtener una lista de monitoreos realizados.<br>',
					'title'      : '<span class="fw-semi-bold">Mapa de material particulado</span>',
					'header'     : 'Valores en <span class="fw-semi-bold">pcc</span>'
					}) }}
					<p style="margin-bottom:10px;">
						<div class="row">     

{# // Slider, problema del futuro
                            <div class="col-xs-8">
                                <div class="mb-sm">
                                    <input class="js-slider" id="slider-ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>    
                                </div>
                            </div>
#}
							<div class="col-xs-6">
								<div id="daterangepicker-monitor" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
									<i class="fa fa-icon fa-calendar"></i>&nbsp;
									<span></span> <b class="caret"></b>
								</div>
							</div>
							<div class="col-xs-3">
								<div id="multiselect-monitor-container">
									<select id="multiselect-monitor" multiple="multiple"></select>
								</div>
							</div>
							<div class="col-xs-3">
								<div id="multiselect-layer-container">
                                    <select id="multiselect-layer" multiple="multiple">
                                        <option value="PM_UP">PM Aire</option>
                                        <option value="PM_DOWN" selected>PM Camino</option>
                                        <!--<option value="IRRIGATION">Riego</option>-->
                                        <option value="PHOTO">Fotos</option>
                                        <option value="HOLE">Baches</option>
                                        <option value="OBSERVATION">Observaciones</option>
                                    </select>
                                </div>
							</div>
						</div>
					</p>
					<p style="padding-bottom:1px;"></p>
					{% block google_map_markup %}
						{{ parent() }}
					{% endblock %}
					</div><!-- ./widget-body -->
				</section>

			</div>
		</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% block google_map_javascript %}
		{{ parent() }}
	{% endblock %}
	
	<script>
		function cb(start, end) {
			$('#daterangepicker-monitor span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
		}
		
		function updateMonitorMultiselect(data){
			// Clear all map layers currently enabled -- cannot control them from multiselect anymore
			var layers = Object.keys(dustbuster.layers);
			for (var x=0; x<layers.length; x++){
				console.log("disabling layer ["+ layers[x] +"]");
				dustbuster.layers[layers[x]].setMap(null);
			}

            $('#multiselect-layer').multiselect({
				buttonWidth: '100%',
				buttonText: function(options, select){
					if (data.length == 1) {
						return "1 capa";
					}
					if (data.length > 1) {
						return data.length +" capas";
					}
					if (data.length == 0){
						return "seleccione capa";
					}
				},
                onChange: function(option, checked){
                    dustbuster.layerflags = {
                        PM_UP: false,
                        PM_DOWN: false,
                        IRRIGATION: false,
                        PHOTO: false,
                        HOLE: false,
                        OBSERVATION: false,
                    };
                    var selected = $("#multiselect-layer option:selected");
                    selected.each(function(index, element){
                        console.log($(this).val());
                        dustbuster.layerflags[$(this).val()] = true;
                    });
                    
                    // Absolutely blocking. Not good
                    function sleep(delay) {
                        var start = new Date().getTime();
                        while (new Date().getTime() < start + delay);
                    }
                    
                    // Update map layers
                    var layers = Object.keys(dustbuster.layers);
                    for (var x=0; x<layers.length; x++){
                        console.log("processing layer "+ layers[x]);
                        var tmp_map = dustbuster.layers[layers[x]].getMap();
                        if (tmp_map != null){
                            console.log("refreshing layer ["+ layers[x] +"]");
                            dustbuster.layers[layers[x]].setMap(null);
                            sleep(80); // Milliseconds. Cannot defer execution, sorry
                            dustbuster.layers[layers[x]].setMap(dustbuster.map);
                        }
                    }
                }
            });
			$('#multiselect-monitor').multiselect({
				buttonWidth: '100%',
				buttonText: function(options, select){
					if (data.length > 0) {
						return data.length +" encontrados";
					}
					if (options.length === 0){
						return data.length +" encontrados";
					} else {
						if (options.length == 1){
							return "1 seleccionado";
						}
						return options.length+ " seleccionados";
					}
				},
				onChange: function(option, checked) {
					var layer_id = $(option.context).val();
					var uuid = layer_id;
					if (checked){
						if (typeof(dustbuster.layers[layer_id]) == 'undefined'){
							dustbuster.layers[layer_id] = new google.maps.Data();
							dustbuster.layers[layer_id].loadGeoJson('geojson/measuretrip/'+ uuid);
							dustbuster.layers[layer_id].infowindow = new google.maps.InfoWindow();

							dustbuster.layers[layer_id].setStyle(function (feature) {
								// LineString
								var strokeColor = feature.getProperty('strokeColor'),
									strokeWeight = feature.getProperty('strokeWeight'),
									strokeOpacity = feature.getProperty('strokeOpacity');

			var type = feature.getProperty('type');
			// Point (Map marker)
			if (type == 'pm'){
                                var pm_up_icon = "empty";
                                var pm_down_icon = "empty";

                                if (dustbuster.layerflags.PM_UP == true){
                                    var sensor_up = feature.getProperty('sensor_up');
                                    if (sensor_up.pm10 < 700){ // 300
                                        pm_up_icon = "green";
                                    } else {
                                        if (sensor_up.pm10 < 1300){ // 600
                                            pm_up_icon = "yellow";
                                        } else {
                                            pm_up_icon = "red";
                                        }
                                    }
                                    if (sensor_up.pm10 == 0){
                                        pm_up_icon = "empty";
                                    }
                                }

                                if (dustbuster.layerflags.PM_DOWN == true){
                                    var sensor_down = feature.getProperty('sensor_down');
                                    if (sensor_down.pm10 < 700){ //300
                                        pm_down_icon = "green";
                                    } else {
                                        if (sensor_down.pm10 < 1300){ //600
                                            pm_down_icon = "yellow";
                                        } else {
                                            pm_down_icon = "red";                                            
                                        }                                        
                                    }
                                    if (sensor_down.pm10 == 0){
                                        pm_down_icon = "empty";
                                    }                                    
                                }
                                
								
				return {									
					strokeColor: strokeColor,
					strokeWeight: strokeWeight,
					strokeOpacity: strokeOpacity,
					icon: "bundles/app/img/pm/"+ pm_up_icon +"_"+ pm_down_icon +".png"
				};
			} // if (type == "pm")
			if (type == "photo"){
				if (dustbuster.layerflags.PHOTO == true){
					return { icon: "bundles/app/img/photo.png", anchor: new google.maps.Point(Math.floor(Math.random(60)), Math.floor(Math.random(60))) };
				} else {
					return { icon: "bundles/app/img/nothing.png" };
				}
			}
			if (type == "hole"){
				if (dustbuster.layerflags.HOLE == true){
					return { icon: "bundles/app/img/hole.png" };
				} else {
					return { icon: "bundles/app/img/nothing.png" };
				}
			}
			if (type == "observation"){
				if (dustbuster.layerflags.OBSERVATION == true){
					return { icon: "bundles/app/img/pencil-square-o.png" };
				} else {
					return { icon: "bundles/app/img/nothing.png" };
				}
			}

			}); // function(feature)
						}
						dustbuster.layers[layer_id].setMap(dustbuster.map);

						// Attach infowindows to description from GeoJSON data
						dustbuster.layers[layer_id].addListener('mouseover', function(event) {
							var myHTML = event.feature.getProperty("description");
							var gpsid = event.feature.getProperty("gpsid");
							var type = event.feature.getProperty("type");

							if (type == 'pm'){
								var infowindow = dustbuster.layers[layer_id].infowindow;
								var width = "150px";
								if (event.feature.getProperty('icon') == "bundles/app/img/photo.png"){
									width = "400px";
								};
                                
                                var sensor_up   = event.feature.getProperty('sensor_up');
                                var sensor_down = event.feature.getProperty('sensor_down');
                                myHTML += "<hr><b>PM10 Aire: </b>"+ sensor_up.pm10 +
                                    "<br><b>PM2.5 Aire: </b>"+ sensor_up.pm25 +
                                    "<hr><b>PM10 Camino: </b>"+ sensor_down.pm10 +
                                    "<br><b>PM2.5 Camino: </b>"+ sensor_down.pm25 +
                                    "<hr><b>Velocidad: </b>"+ event.feature.getProperty('speed') +"Km/h";
                                
								infowindow.setContent("<div style='width:"+ width +"'; text-align: center;'>"+myHTML+"</div>");
								infowindow.setPosition(event.feature.getGeometry().get());
								infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
								infowindow.open(dustbuster.map);
							}
						});
						dustbuster.layers[layer_id].addListener('click', function(event) {
							var myHTML = event.feature.getProperty("description");
							var gpsid = event.feature.getProperty("gpsid");
							var type = event.feature.getProperty("type");

							if (type == "hole" || type == "photo" || type == "observation"){
								var infowindow = dustbuster.layers[layer_id].infowindow;
								var width = "150px";
								if (event.feature.getProperty('icon') == "bundles/app/img/photo.png"){
									width = "500px";
								};
								infowindow.setContent("<div style='width:"+ width +"'; text-align: center;'>"+myHTML+"</div>");
								infowindow.setPosition(event.feature.getGeometry().get());
								infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
								infowindow.open(dustbuster.map);
							}
						});
						dustbuster.layers[layer_id].addListener('mouseout', function(event) {
							var myHTML = event.feature.getProperty("description");
							var gpsid = event.feature.getProperty("gpsid");
							var type = event.feature.getProperty("type");
							if (type == "pm"){
								dustbuster.layers[layer_id].infowindow.close();
							}
						});

						
						console.log("layer "+layer_id+" is ON");
					} else {
						if (typeof(dustbuster.layers[layer_id]) != 'undefined'){
							dustbuster.layers[layer_id].setMap(null);
						}
						console.log("layer "+layer_id+" is OFF");
					}
				}
			});
		}
		
		$(function(){
			$("#mapa_de_mp").addClass("active");
			
			moment.locale("ES");
			$('#daterangepicker-monitor').daterangepicker({
				ranges: {
					'Hoy': [moment(), moment().add(1,'days')],
					'Ayer': [moment().subtract(1, 'days'), moment()],
					'Últimos 7 Días': [moment().subtract(6, 'days'), moment().add(1,'days')],
					'Últimos 30 Días': [moment().subtract(29, 'days'), moment().add(1,'days')],
					'Este Mes': [moment().startOf('month'), moment().endOf('month').add(1,'days')],
					'El mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month').add(1,'days')]
				},
			}, cb);
			$('#daterangepicker-monitor').on('apply.daterangepicker', function(ev, picker) {
				var daterange = picker.startDate.format('YYYY-MM-DD') +","+	picker.endDate.format('YYYY-MM-DD');
				$.getJSON("monitor/daterange/"+ daterange, function(data){
					$('#multiselect-monitor-container').html("<select id='multiselect-monitor' multiple='multiple'></select>");
					for(var x=0; x<data.length; x++){
						$('#multiselect-monitor').append("<option value='"+ data[x].uuid +"'>"+ moment.tz(data[x].fecha.date,"UTC").clone().tz("America/Santiago").format('l') +" "+ moment.tz(data[x].fecha.date,"UTC").clone().tz("America/Santiago").format('LT') +"</option>");
					}
					updateMonitorMultiselect(data);
				});
			});
			
			// Default date range: today
			cb(moment(), moment().add(1,'days'));
			$('#daterangepicker-monitor').data('daterangepicker').setStartDate(moment());
			$('#daterangepicker-monitor').data('daterangepicker').setEndDate(moment().add(1,'days'));
			$('#daterangepicker-monitor').data('daterangepicker').clickApply();

			updateMonitorMultiselect([]); // [] = no options
			console.log(dustbuster.map);
            
            // Initialization
            dustbuster.layerflags = {
                PM_UP: false,
                PM_DOWN: true,
                IRRIGATION: false,
                PHOTO: false,
                HOLE: false,
                OBSERVATION: false,
            };
		});
        
        {# $("#slider-ex1").slider(); // Problema del futuro #}
	</script>
{% endblock %}
