{% extends 'base_gmap.html.twig' %}
{% use 'google_map_camp.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}		

		
		<div class="row" style="margin-left:-48px; margin-top: -88px; opacity: 0.85; filter:blur(0px);">
			<div class="col-lg-12" style="opacity: 1;">
				<section class="widget">
				{{ buster.widget_header({
					'description': '<span class="fw-semi-bold">Poligonos generados a partir de archivo '~ nmea.name ~'</span><form action="'~ path('nmea_polygen') ~'" method="post" enctype="multipart/form-data"><input type="file" name="nmeafile" id="nmeafile"><input type="submit" value="Upload" name="btn-upload"></form>',
					'title'      : '',
					'header'     : '',
					}) }}
					</div><!-- ./widget-body -->
				</section>
			</div>
		</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% block google_map_javascript %}
		{{ parent() }}
	{% endblock %}
	
	<script>
		function createIrrigationSummary(){
			dustbuster.layers['editor'].toGeoJson( function(geoJson){ 
				dustbuster.irrigationSummary = "";
				var counter = 0;
				for (var x=0; x<geoJson.features.length; x++){
					if (geoJson.features[x].properties.irrigationLevel > 0){
						dustbuster.irrigationSummary += geoJson.features[x].properties.polygon_id +","+ geoJson.features[x].properties.irrigationLevel +";"
						counter++;
					}
				}
				dustbuster.irrigationSummary = dustbuster.irrigationSummary.slice(0, -1);
				console.log("IRRIGATION SUMMARY");
				console.log(dustbuster.irrigationSummary);

				$.ajax({
					url: "irrigation/plan/submit",
					data: {irrigationSummary: dustbuster.irrigationSummary},
					type: "post",
					beforeSend: function(xhr, settings){
						$('#controltext').html("Enviando... ("+ counter +")");					
					},
					success: function(json) {
						$('#controltext').html("Plan recibido :)");
					},
					error:function (xhr, ajaxOptions, thrownError) {
						$('#controltext').html("Error al guardar :(");
					}
				});

			});
		}

		function initPlan(){
			dustbuster.layers['editor'] = new google.maps.Data();
			//dustbuster.layers['editor'].loadGeoJson('polygon/show/last');

			dustbuster.layers['editor'].setStyle(function (feature) {
				// LineString
				var strokeColor = feature.getProperty('strokeColor'),
					strokeWeight = feature.getProperty('strokeWeight'),
					strokeOpacity = feature.getProperty('strokeOpacity');
					
				// Point (Map marker)
				var icon = feature.getProperty('icon');
				
				return {
					strokeColor: strokeColor,
					strokeWeight: strokeWeight,
					strokeOpacity: strokeOpacity,
					icon: icon
				};
			});

			dustbuster.layers['editor'].setStyle(function (feature) {
				// LineString
				var strokeColor = feature.getProperty('strokeColor'),
					strokeWeight = feature.getProperty('strokeWeight'),
					strokeOpacity = feature.getProperty('strokeOpacity'),
					fillColor = feature.getProperty('fillColor'),
					fillOpacity = feature.getProperty('fillOpacity');
					
				// Point (Map marker)
				var icon = feature.getProperty('icon');

				return {
					strokeColor: strokeColor,
					strokeWeight: strokeWeight,
					strokeOpacity: strokeOpacity,
					fillColor: fillColor,
					fillOpacity: fillOpacity,

					icon: icon
				};
			});


			dustbuster.layers['editor'].infowindow = new google.maps.InfoWindow();
			dustbuster.layers['editor'].setMap(dustbuster.map);

			// Polygon editor
/*			dustbuster.layers['editor'].addListener('click', function(event) {
				polygon_id = event.feature.getProperty('polygon_id');
				
				console.log(event.feature);
				console.log("polygon_id: "+ polygon_id);
				
				dustbuster.last_polygon = event.feature.getGeometry();
				var latLngArray = [];
				var vertices = dustbuster.last_polygon.getArray()[0];
				for (var x=0; x<vertices.getLength(); x++){
					var lat = vertices.getAt(x).lat();
					var lng = vertices.getAt(x).lng();
					latLngArray.push({lat: lat, lng: lng});
				}

				var editablePolygon = new google.maps.Polygon({
					paths: latLngArray,
					strokeColor: '#0000FF',
					strokeOpacity: 0.8,
					strokeWeight: 2,
					fillColor: '#0000FF',
					fillOpacity: 0.35,
					editable: true
				});

				editablePolygon['polygon_id'] = polygon_id;
				console.log("editablePolygon");
				console.log(editablePolygon);

				editablePolygon.addListener('rightclick', function(event){
					if (typeof(dustbuster.infowindow) != "undefined"){
						dustbuster.infowindow.setMap(null);
						dustbuster.infowindow.close();
						dustbuster.infowindow = null;
					}
					dustbuster.infowindow = new google.maps.InfoWindow();
					dustbuster.infowindow.setContent(
						'<button id="save-polygon">Guardar</button>'
					);
					dustbuster.infowindow.setPosition(event.latLng);
					dustbuster.infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
					dustbuster.infowindow.open(dustbuster.map);
					
					$('#save-polygon').on('click', function(){
						var polygon = editablePolygon;
						var vertices = editablePolygon.latLngs.getAt(0);
						
						var jsondata = {
							polygon_id: polygon.polygon_id,
							vertices: []
						};
						
						for (var x=0; x<vertices.length; x++){
							lat = vertices.b[x].lat();
							lng = vertices.b[x].lng();
							jsondata.vertices.push({lat: lat, lng: lng});
						}

						console.log(jsondata);
						
						$.ajax({
							url: "polygon/write",
							data: jsondata,
							type: "post",
							success: function(json) {
								$('#save-polygon').html("Polígono guardado").fadeOut(2000);
							},
							error:function (xhr, ajaxOptions, thrownError) {
								$('#save-polygon').html("Error al guardar :(");
							}
						});

					});
				});

				dustbuster.layers['editor'].remove(event.feature);
				editablePolygon.setMap(dustbuster.map);
			});
*/			
			// Attach infowindows to description from GeoJSON data
			dustbuster.layers['editor'].addListener('mouseover', function(event) {
				var points = event.feature.getProperty("points"),
					pm10avg = event.feature.getProperty("pm10avg"),
					pm25avg = event.feature.getProperty("pm25avg"),
					strokeColor = event.feature.getProperty("strokeColor"),
					irrigationLevel = event.feature.getProperty("irrigationLevel"),
					polygon_id = event.feature.getProperty("polygon_id");

				if (1){
					var infowindow = dustbuster.layers['editor'].infowindow;
					myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
					myHTML += '<tr><td style="border-bottom: 1px solid #ddd;"><b>Fecha</b></td><td style="border-bottom: 1px solid #ddd;"><b>PM10</b></td><td style="border-bottom: 1px solid #ddd;"><b>PM25</b></td></tr>';
					for (var x=0; x<points.length; x++){
						myHTML += '<tr><td style="border-bottom: 1px solid #ddd;">'+ points[x].date +'</td><td style="border-bottom: 1px solid #ddd;">'+ points[x].pm10lat +'</td><td style="border-bottom: 1px solid #ddd;">'+ points[x].pm25lat +'</td></tr>';
					}
					myHTML += '<tr style="height:10px;"></tr>';
					myHTML += '<tr><td colspan=3><b>Polígono: </b>'+ polygon_id +'</td></tr>';
					myHTML += '<tr><td colspan=3><b>Promedio PM10: </b>'+ pm10avg +'</td></tr>';
					myHTML += '<tr><td colspan=3><b>Promedio PM2.5: </b>'+ pm25avg +'</td></tr>';

					var texto = "No se obtuvo sugerencia de riego";
					if (irrigationLevel == 0){
						texto = "No regar";
						strokeColor = '#00ff00';
					}
					if (irrigationLevel == 1){
						texto = "Riego baja concentración";
						strokeColor = '#ff8c00';
					}
					if (irrigationLevel == 2){
						texto = "Riego alta concentración";
						strokeColor = '#ff0000';
					}
					myHTML += '<tr id="suggestionrow"><td colspan=3 style="color:'+ strokeColor +'"><b>'+ texto +'</b></td></tr>';
					myHTML += '</table></div>';
					infowindow.setContent("<div class='infowindow-content' style='width: 250px; text-align: center;'>"+ myHTML +"</div>");
					infowindow.setPosition(event.latLng);
					infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
					infowindow.open(dustbuster.map);

					$('.infowindow-content').disableSelection();
				}
			});
			dustbuster.layers['editor'].addListener('click', function(event) {
				newIrrigationLevel = event.feature.getProperty("irrigationLevel") + 1;
				if (newIrrigationLevel > 2){ newIrrigationLevel = 0; }
				event.feature.setProperty("irrigationLevel", newIrrigationLevel);

				if (newIrrigationLevel == 0){
					texto = "No regar";
					strokeColor = '#00ff00';
				}
				if (newIrrigationLevel == 1){
					texto = "Riego baja concentración";
					strokeColor = '#ff8c00';
				}
				if (newIrrigationLevel == 2){
					texto = "Riego alta concentración";
					strokeColor = '#ff0000';
				}

				event.feature.setProperty("strokeColor", strokeColor);
				event.feature.setProperty("fillColor", strokeColor);

				$('#suggestionrow').html('<td colspan=3 style="color:'+ strokeColor +'"><b>'+ texto +'</b></td>');
			});
			dustbuster.layers['editor'].addListener('mouseout', function(event) {
				if (1){
					dustbuster.layers['editor'].infowindow.close();
				}
			});

			console.log("initEditor(): done");
		}

		$(function(){
			
			$.fn.extend({ 
				disableSelection: function() { 
					this.each(function() { 
						if (typeof this.onselectstart != 'undefined') {
							this.onselectstart = function() { return false; };
						} else if (typeof this.style.MozUserSelect != 'undefined') {
							this.style.MozUserSelect = 'none';
						} else {
							this.onmousedown = function() { return false; };
						}
					}); 
				} 
			});
			
			/**
			 * The SaveControl submits current irrigation plan to server.
			 * @constructor
			 */
			function SaveControl(controlDiv, map) {
			  // Set CSS for the control border.
			  var controlUI = document.createElement('div');
			  controlUI.style.backgroundColor = '#fff';
			  controlUI.style.border = '2px solid #fff';
			  controlUI.style.borderRadius = '3px';
			  controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
			  controlUI.style.cursor = 'pointer';
			  controlUI.style.marginBottom = '22px';
			  controlUI.style.marginTop = '120px';
			  controlUI.style.textAlign = 'center';
			  controlUI.title = 'Confirma este programa de riego para enviarlo a camión aljibe';
			  controlDiv.appendChild(controlUI);

			  // Set CSS for the control interior.
			  var controlText = document.createElement('div');
			  controlText.id = 'controltext';
			  controlText.style.color = 'rgb(25,25,25)';
			  controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
			  controlText.style.fontSize = '16px';
			  controlText.style.lineHeight = '38px';
			  controlText.style.paddingLeft = '5px';
			  controlText.style.paddingRight = '5px';
			  controlText.innerHTML = 'Confirmar plan de riego';
			  controlUI.appendChild(controlText);

			  // Define what happens after clicking this control.
			  controlUI.addEventListener('click', function() {
				createIrrigationSummary();
			  });
			}

			var saveControlDiv = document.createElement('div');
			SaveControl(saveControlDiv, dustbuster.map);
			saveControlDiv.index = 1;
			//dustbuster.map.controls[google.maps.ControlPosition.TOP_CENTER].push(saveControlDiv);

			$("#plan").addClass("active");			
			initPlan();
		});
		// Google Maps API voodoo to raise a GeoJson structure from a data layer
		//dustbuster.layers['editor'].toGeoJson(function(data){ console.log(JSON.stringify(data)); })



		$("#select_trips").on("change",function(){
			console.log($(this).val());
			window.location.href = "/polygen/"+ $(this).val();
		});




function createPolygons(){
	window.finalsql = "";
	window.polygonQueue = [];
	window.total_length = 0;

	latlngarray = [];
	trip = [
        // Generated from uploaded NMEA data (GPRMC) with speed > 4 km/h
		{% for point in nmea.points %}
[{{ point[0] | round(7) }}, {{ point[1] | round(7) }}, {{ point[2] | round(1) }} ],
		{% endfor %}
];        

	for (var x=1; x != trip.length; x++){
		lastpoint = new google.maps.LatLng(trip[x-1][0], trip[x-1][1]);
		newpoint = new google.maps.LatLng(trip[x][0], trip[x][1]);
		// FIX: Avoiding nofix jumps
		if (google.maps.geometry.spherical.computeLength([lastpoint, newpoint]) < 200){
			latlngarray.push({lat: trip[x][0], lng: trip[x][1]});
		}
	}

	var ruta1 = new google.maps.Polyline({
                path: latlngarray,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 1
        });

        ruta1.setMap(dustbuster.map);

{# Switchable polygons #}
{% if polygons == true %}
	count = 0;
        for(var x=0; x<trip.length;){
                count++;
                color = (count%2)? "#00FF00": "#0000FF";
                if (x == 0){
                        x = createPolyTrack(dustbuster.map,trip, x, null, color);
                } else {
                        x = createPolyTrack(dustbuster.map, trip, x-2, null, color);
                }
        }
{% endif %}

	console.log(window.finalsql);

}


function createPolyTrack(map,trip, start, end, color){
        //--------------------------------------
        // Create the polygon road
        distance = 0.000055; // Ancho de camino

        if (typeof(lastcosine) == "undefined") {
                lastcosine = 0;
        }
        if (typeof(lastsine) == "undefined") {
                lastsine = 0;
        }
        vertices = [];
        polyline = [];


	if (typeof(trip[start]) == "undefined"){
		return start+1;
	}

        lastlat = trip[start][0];
        lastlng = trip[start][1];

        for (var x=start+1; google.maps.geometry.spherical.computeLength(polyline)<200; x++){
		//console.log("x is "+x+", trip[x] is "+ typeof(trip[x]));
	if (typeof(trip[x] != "undefined")){
	        newlat = trip[x][0];
        	newlng = trip[x][1];

                cop = (newlat - lastlat);
                cad = (newlng - lastlng);
                hip = Math.sqrt((cad*cad) + (cop*cop));
                sine = cad / hip;
                cosine = cop / hip;


                a = rot2d((lastsine * 0.5) + (sine*0.5), (lastcosine * 0.5) + (cosine * 0.5), [0, -distance]);
                b = rot2d((lastsine * 0.5) + (sine*0.5), (lastcosine * 0.5) + (cosine * 0.5), [0, +distance]);

                marker_a = new google.maps.Marker({
                        position: new google.maps.LatLng(lastlat + a[0], lastlng + a[1]),
                         icon: 'http://salvador.eye3.cl/cross.png'
                });
                marker_b = new google.maps.Marker({
                        position: new google.maps.LatLng(lastlat + b[0], lastlng + b[1]),
                        icon: 'http://salvador.eye3.cl/cross.png'
                });


		if (lastlat != 0){
			polyline.push(new google.maps.LatLng(newlat, newlng));
        	        length = google.maps.geometry.spherical.computeLength(polyline);
	                vertices.splice(x-start-1, 0,
       		       	        {lat:lastlat + a[0], lng:lastlng + a[1]},
               	        	{lat:lastlat + b[0], lng:lastlng + b[1]});
		}
		lastlat = newlat;
		lastlng = newlng;
		lastcosine = cosine;
		lastsine = sine;			
	
        }
	}


        road = new google.maps.Polygon({
                paths: vertices,
                strokeColor: color,
                strokeOpacity: 0.8,
		strokeWeight: 1,
                fillColor: color,
                fillOpacity: 0.35,
                //editable: true // WAY TOO MUCH PROCESSING OVERHEAD!
        });

        road.setMap(map);
        debugmsg = "-- Started at "+start+", finished at "+ x+". Estimated distance: "+ length +"\n";
	console.log(debugmsg);
	window.finalsql += debugmsg;
	showPostGIS(start, x, vertices);
        return x;
}


var textFile = null,
  makeTextFile = function (text) {
    var data = new Blob([text], {type: 'text/plain'});

    // If we are replacing a previously generated file we need to
    // manually revoke the object URL to avoid memory leaks.
    if (textFile !== null) {
      window.URL.revokeObjectURL(textFile);
    }

    textFile = window.URL.createObjectURL(data);

    // returns a URL you can use as a href
    return textFile;
  };

function showPostGIS(id_start, id_finish, verts){
	window.finalsql += "-- showPostGIS ("+ id_start +"-"+ id_finish +")\n";
	if (typeof(verts) == "undefined"){
		return;
	}
	window.finalsql += "INSERT INTO polygon (name,geometry) values(";
	window.finalsql += "'"+ id_start +"-"+ id_finish +"',";
	window.finalsql += "GeomFromText('POLYGON((";

	coords = "";

	for (x=0; x<verts.length; x++){
		lat = verts[x].lat;
		lng = verts[x].lng;
		if (!isNaN(lat) && !isNaN(lng)){
			coords += lng +" "+ lat;
			coords += ",";
		}
	}
	coords += verts[0].lng +" "+ verts[0].lat;

	window.polygonQueue.push(coords);
	window.finalsql += coords + "))'));\n\n";
}



function rot2d(sine, cosine, xy){
        var newX = (xy[0] * cosine) - (xy[1] * sine);
        var newY = (xy[0] * sine) + (xy[1] * cosine);
        return [newX, newY];
}


google.maps.event.addDomListener(window, 'load', createPolygons);


function runQueueInOrder() {
    if (window.polygonQueue.length === 0) { return; }
    var verts = window.polygonQueue.pop();
    //alert(verts);

    $.post('/polygon/new', 
	{coords: verts},
	function(data){            
		if (data.status == "INSERT_OK"){
			console.log("INSERT_OK");
			window.total_inserted++;
		} else {
			console.log("INSERT_FAIL: "+ data.error);
			window.total_rejected++;
		}
	}
    ).then(function() {
	runQueueInOrder();
    }); 
}

function summary(){
	console.log("Total polygons inserted: "+ window.total_inserted);
	console.log("Total polygons rejected: "+ window.total_rejected);
}


window.total_inserted=0;
window.total_rejected=0;
		
	</script>
{% endblock %}
