{% extends 'base.html.twig' %}
{% use 'google_map_editor.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
        <!--h1 class="page-title">{{ client_name }} <small><small>SmartRoad Dashboard <sup>by Eye3</sup></small></small></h1-->		
		
		<div class="row">
			<div class="col-lg-12">
				<section class="widget">
				{{ buster.widget_header({
					'description': '<span class="fw-semi-bold">Verde:</span> No riega, <span class="fw-semi-bold">Amarillo:</span> Riego baja concentración, <span class="fw-semi-bold">Rojo:</span> Riego alta concentración</span><br>',
					'title'      : '<span class="fw-semi-bold">Estado actual de faena</span>',
					'header'     : 'Click sobre un polígono para ajustar instrucciones de riego'
					}) }}
					{% block google_map_markup %}
						{{ parent() }}
					{% endblock %}
					</div><!-- ./widget-body -->
				</section>

			</div>
		</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% block google_map_javascript %}
		{{ parent() }}
	{% endblock %}
	
	<script>
		function createIrrigationSummary(){
			dustbuster.layers['editor'].toGeoJson( function(geoJson){ 
				dustbuster.irrigationSummary = "";
				var counter = 0;
				for (var x=0; x<geoJson.features.length; x++){
					if (geoJson.features[x].properties.event_type == 0 && geoJson.features[x].properties.modificado == true){
						dustbuster.irrigationSummary += geoJson.features[x].properties.polygon_id +","+ geoJson.features[x].properties.tasaideal +";";
						counter++;
					}
				}
				dustbuster.irrigationSummary = dustbuster.irrigationSummary.slice(0, -1);
				console.log("IRRIGATION SUMMARY");
				console.log(dustbuster.irrigationSummary);

				$.ajax({
					url: "events/irrigation/submit",
					data: {irrigationSummary: dustbuster.irrigationSummary},
					type: "post",
					beforeSend: function(xhr, settings){
						$('#controltext').html("Enviando... ("+ counter +")");					
					},
					success: function(json) {
						$('#controltext').html("Modificaciones confirmadas");
						setTimeout(function(){
							$('#controltext').html("Guardar modificaciones");
						}, 3000);
					},
					error:function (xhr, ajaxOptions, thrownError) {
						$('#controltext').html("Error durante registro de modificaciones");
					}
				});

			});
		}

		function initPlan(){
			dustbuster.layers['editor'] = new google.maps.Data();
			dustbuster.layers['editor'].loadGeoJson('events/today');

			dustbuster.layers['editor'].setStyle(function (feature) {
				// LineString
				var strokeColor = feature.getProperty('strokeColor'),
					strokeWeight = feature.getProperty('strokeWeight'),
					strokeOpacity = feature.getProperty('strokeOpacity');
					
				// Point (Map marker)
				var icon = feature.getProperty('icon');
				
				return {
					strokeColor: strokeColor,
					strokeWeight: strokeWeight,
					strokeOpacity: strokeOpacity,
					icon: icon
				};
			});

			dustbuster.layers['editor'].setStyle(function (feature) {
				// LineString
				var strokeColor = feature.getProperty('strokeColor'),
					strokeWeight = feature.getProperty('strokeWeight'),
					strokeOpacity = feature.getProperty('strokeOpacity'),
					fillColor = feature.getProperty('fillColor'),
					fillOpacity = feature.getProperty('fillOpacity');
					
				// Point (Map marker)
				var icon = feature.getProperty('icon');

				return {
					strokeColor: strokeColor,
					strokeWeight: strokeWeight,
					strokeOpacity: strokeOpacity,
					fillColor: fillColor,
					fillOpacity: fillOpacity,

					icon: icon
				};
			});


			dustbuster.layers['editor'].infowindow = new google.maps.InfoWindow();
			dustbuster.layers['editor'].setMap(dustbuster.map);

			// Polygon editor
/*			dustbuster.layers['editor'].addListener('click', function(event) {
				polygon_id = event.feature.getProperty('polygon_id');
				
				console.log(event.feature);
				console.log("polygon_id: "+ polygon_id);
				
				dustbuster.last_polygon = event.feature.getGeometry();
				var latLngArray = [];
				var vertices = dustbuster.last_polygon.getArray()[0];
				for (var x=0; x<vertices.getLength(); x++){
					var lat = vertices.getAt(x).lat();
					var lng = vertices.getAt(x).lng();
					latLngArray.push({lat: lat, lng: lng});
				}

				var editablePolygon = new google.maps.Polygon({
					paths: latLngArray,
					strokeColor: '#0000FF',
					strokeOpacity: 0.8,
					strokeWeight: 2,
					fillColor: '#0000FF',
					fillOpacity: 0.35,
					editable: true
				});

				editablePolygon['polygon_id'] = polygon_id;
				console.log("editablePolygon");
				console.log(editablePolygon);

				editablePolygon.addListener('rightclick', function(event){
					if (typeof(dustbuster.infowindow) != "undefined"){
						dustbuster.infowindow.setMap(null);
						dustbuster.infowindow.close();
						dustbuster.infowindow = null;
					}
					dustbuster.infowindow = new google.maps.InfoWindow();
					dustbuster.infowindow.setContent(
						'<button id="save-polygon">Guardar</button>'
					);
					dustbuster.infowindow.setPosition(event.latLng);
					dustbuster.infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
					dustbuster.infowindow.open(dustbuster.map);
					
					$('#save-polygon').on('click', function(){
						var polygon = editablePolygon;
						var vertices = editablePolygon.latLngs.getAt(0);
						
						var jsondata = {
							polygon_id: polygon.polygon_id,
							vertices: []
						};
						
						for (var x=0; x<vertices.length; x++){
							lat = vertices.b[x].lat();
							lng = vertices.b[x].lng();
							jsondata.vertices.push({lat: lat, lng: lng});
						}

						console.log(jsondata);
						
						$.ajax({
							url: "polygon/write",
							data: jsondata,
							type: "post",
							success: function(json) {
								$('#save-polygon').html("Polígono guardado").fadeOut(2000);
							},
							error:function (xhr, ajaxOptions, thrownError) {
								$('#save-polygon').html("Error al guardar :(");
							}
						});

					});
				});

				dustbuster.layers['editor'].remove(event.feature);
				editablePolygon.setMap(dustbuster.map);
			});
*/			
			// Attach infowindows to description from GeoJSON data
			dustbuster.layers['editor'].addListener('mouseover', function(event) {
				var event_type = event.feature.getProperty("event_type");
				var polygon_id = event.feature.getProperty("polygon_id");
				var irrigationLevel = event.feature.getProperty("tasaideal");

                                strokeColor = '#ff0000';
                                if (irrigationLevel < 1.5) {
                                        strokeColor = '#ffaa00';
                                }
                                if (irrigationLevel < 0.7) {
                                        strokeColor = '#ff8c00';
                                }
                                if (irrigationLevel == 0){
                                        strokeColor = '#00aa00';
                                }
				if (event_type != -1){
	                                event.feature.setProperty("strokeColor", strokeColor);
        	                        event.feature.setProperty("fillColor", strokeColor);
				}

				if (event_type == -1){
					myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
					myHTML += '<tr><td style="border-bottom: 1px solid #ddd;"><b>Polygon</b></td>'+
						'<td style="border-bottom: 1px solid #ddd;"><b>Event type</b></td>'+
						'</tr><tr><td>'+ polygon_id +'</td><td>'+ event_type +'</td></tr>'+
						'<tr id="suggestionrow"><td><b>No registra actividad</b></td></tr>'+
						'</table></div>';

				} else if (event_type == 0){
					var tasaideal = event.feature.getProperty("tasaideal");
					myHTML = '<div style="overflow-x:auto;"><table style="width:100%;">';
                                        myHTML += '<tr><td style="border-bottom: 1px solid #ddd;"><b>Polygon</b></td>'+
                                                '<td style="border-bottom: 1px solid #ddd;"><b>Event type</b></td>'+
                                                '</tr><tr><td>'+ polygon_id +'</td><td>'+ event_type +'</td></tr>'+
                                                '<tr id="suggestionrow"><td><b>Tasa de riego ('+ tasaideal.toFixed(1) +' lt/m<sup>2</sup>) establecida desde web</b></td></tr>'+
						'</table></div>';
				}


				if (1){
					/*myHTML += '<tr style="height:10px;"></tr>';
					myHTML += '<tr><td colspan=3><b>Polígono: </b>'+ polygon_id +'</td></tr>';
					myHTML += '<tr><td colspan=3><b>Promedio PM10: </b>'+ pm10avg +'</td></tr>';
					myHTML += '<tr><td colspan=3><b>Promedio PM2.5: </b>'+ pm25avg +'</td></tr>';

					var texto = "No se obtuvo sugerencia de riego";
					if (irrigationLevel == 0){
						texto = "No regar";
						strokeColor = '#00aa00';
					}
					if (irrigationLevel == 1){
						texto = "Riego baja concentración";
						strokeColor = '#ff8c00';
					}
					if (irrigationLevel == 2){
						texto = "Riego alta concentración";
						strokeColor = '#ff0000';
					}
					myHTML += '<tr id="suggestionrow"><td colspan=3 style="color:'+ strokeColor +'"><b>'+ texto +'</b></td></tr>';
					myHTML += '</table></div>'; */

					var infowindow = dustbuster.layers['editor'].infowindow;
					infowindow.setContent("<div class='infowindow-content' style='width: 250px; text-align: center;'>"+ myHTML +"</div>");
					infowindow.setPosition(event.latLng);
					infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
					infowindow.open(dustbuster.map);

					$('.infowindow-content').disableSelection();
				}
			});
			dustbuster.layers['editor'].addListener('click', function(event) {
				newIrrigationLevel = event.feature.getProperty("tasaideal");
				if (typeof(newIrrigationLevel) != "undefined"){
					newIrrigationLevel += 0.3;
				} else {
					newIrrigationLevel = 0.3;
				}
				if (newIrrigationLevel > 2){ newIrrigationLevel = 0; }

				strokeColor = '#ff0000';
				
				if (newIrrigationLevel < 1.5) {
					strokeColor = '#ffaa00';
				}
				if (newIrrigationLevel < 0.7) {
					strokeColor = '#ff8c00';
				}
				if (newIrrigationLevel == 0){
					strokeColor = '#00aa00';
				}

				event.feature.setProperty("strokeColor", strokeColor);
				event.feature.setProperty("fillColor", strokeColor);
				event.feature.setProperty("tasaideal", +newIrrigationLevel.toFixed(1));
				event.feature.setProperty("event_type", 0);     {# event_type 0: Manipulacion de poligono desde la web #}
				event.feature.setProperty("modificado", true);  {# para identificar los poligonos que debemos actualizar #}

				if (newIrrigationLevel == 0){
					texto = '<b>No regar, establecido desde web</b>';
				} else {
					texto = '<b>Tasa de riego ('+ newIrrigationLevel.toFixed(1) +' lt/m<sup>2</sup>) establecida desde web</b>';
				}
				$('#suggestionrow').html('<td colspan=3 style="color:'+ strokeColor +'"><b>'+ texto +'</b></td>');
			});
			dustbuster.layers['editor'].addListener('mouseout', function(event) {
				if (1){
					dustbuster.layers['editor'].infowindow.close();
				}
			});

			console.log("initEditor(): done");
		}

		$(function(){
			
			$.fn.extend({ 
				disableSelection: function() { 
					this.each(function() { 
						if (typeof this.onselectstart != 'undefined') {
							this.onselectstart = function() { return false; };
						} else if (typeof this.style.MozUserSelect != 'undefined') {
							this.style.MozUserSelect = 'none';
						} else {
							this.onmousedown = function() { return false; };
						}
					}); 
				} 
			});
			
			/**
			 * The SaveControl submits current irrigation plan to server.
			 * @constructor
			 */
			function SaveControl(controlDiv, map) {
			  // Set CSS for the control border.
			  var controlUI = document.createElement('div');
			  controlUI.style.backgroundColor = '#fff';
			  controlUI.style.border = '2px solid #fff';
			  controlUI.style.borderRadius = '3px';
			  controlUI.style.boxShadow = '0 2px 6px rgba(0,0,0,.3)';
			  controlUI.style.cursor = 'pointer';
			  controlUI.style.marginBottom = '22px';
			  controlUI.style.marginTop = '5px';
			  controlUI.style.textAlign = 'center';
			  controlUI.title = 'Confirma este programa de riego para enviarlo a camión aljibe';
			  controlDiv.appendChild(controlUI);

			  // Set CSS for the control interior.
			  var controlText = document.createElement('div');
			  controlText.id = 'controltext';
			  controlText.style.color = 'rgb(25,25,25)';
			  controlText.style.fontFamily = 'Roboto,Arial,sans-serif';
			  controlText.style.fontSize = '16px';
			  controlText.style.lineHeight = '38px';
			  controlText.style.paddingLeft = '5px';
			  controlText.style.paddingRight = '5px';
			  controlText.innerHTML = 'Guardar modificaciones';
			  controlUI.appendChild(controlText);

			  // Define what happens after clicking this control.
			  controlUI.addEventListener('click', function() {
				createIrrigationSummary();
			  });
			}

			var saveControlDiv = document.createElement('div');
			SaveControl(saveControlDiv, dustbuster.map);
			saveControlDiv.index = 1;
			dustbuster.map.controls[google.maps.ControlPosition.TOP_CENTER].push(saveControlDiv);

			$("#plan").addClass("active");			
			initPlan();
		});
		// Google Maps API voodoo to raise a GeoJson structure from a data layer
		//dustbuster.layers['editor'].toGeoJson(function(data){ console.log(JSON.stringify(data)); })
	</script>
{% endblock %}
