{% extends 'base.html.twig' %}
{% use 'google_map.html.twig' %}
{% use 'sidebar.html.twig' %}

{% block stylesheets %}
<style>
	.dropdown-menu {
		padding: 10px;
	}
</style>
{% endblock %}

{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
	<h1 class="page-title">{{ client_name }} <small><small>SmartRoad Dashboard <sup>by Eye3</sup></small></small></h1>
		
	<div class="row">
		<div class="col-xs-12">
			<section class="widget">
				<header>
					<h5>
						Datos de <span class="fw-semi-bold">monitoreo</span>
					</h5>
					<div class="widget-controls">
						<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
				</header>
				<div class="widget-body">
					<p class="fs-mini text-muted">
						En orden cronológico descendente.
					</p>
					<div style="width:100%; height:100%; overflow:scroll; overflow-y:hidden;">
					<table
						style="padding-left: 10px; "
						id="rawdata-table" 
						data-side-pagination="client"
						data-height="0" 
						data-pagination="true" 
						data-page-Size="10"
						data-page-list="[5, 10, 20, 200]"
						data-show-header="true"
						data-show-export="false"
						data-sort-name="id" 
						data-sort-order="desc"
						data-toggle="table">
						<thead>
							<tr>
								<th data-field="id" data-visible="false" data-halign="center" data-align="center" data-sortable="true">Id</th>
								<th data-field="fecha" data-halign="center" data-align="center" data-sortable="true">Fecha</th>	
								<th data-field="cex" data-halign="center" data-align="center" data-sortable="false">CEX</th>
								<th data-field="csv" data-halign="center" data-align="center" data-sortable="false">CSV</th>
								<th data-field="map" data-halign="center" data-align="center" data-sortable="false">Mapa de puntos</th>

 
							{#	<th data-field="distancia" data-halign="center" data-align="center" data-sortable="false">Recorrido</th>#}
								{# <th data-field="nombre" data-halign="center" data-align="center" data-sortable="false">Nombre</th> #}
							{#	<th data-field="csv" data-halign="center" data-align="center" data-sortable="false">CSV</th> #}
							{#	<th data-field="excel" data-halign="center" data-align="center" data-sortable="false">Excel</th> #}
							{#	<th data-field="kml" data-halign="center" data-align="center" data-sortable="false">KML</th> #}
							{#	<th data-field="fakegps" data-halign="center" data-align="center" data-sortable="false">NMEA</th> #}
							</tr>
						</thead>
						<tbody>
							{% for fecha in ['2018-05-23', '2018-05-24', '2018-05-25','2018-05-26','2018-05-27','2018-05-28','2018-05-29','2018-05-30','2018-05-31','2018-06-01','2018-06-02','2018-06-03','2018-06-04','2018-06-05','2018-06-06','2018-06-07','2018-06-08','2018-06-09','2018-06-10'] %}
							<tr>
								<td></td>
								<td>{{fecha}}</td>
								<td>32</td>
								<td><a href="/campcsv/82/{{fecha}}">Descargar</a></td>
								<td><a href="/camp/82/{{fecha}}">Pinchar aqu&iacute;</td>
							</tr>
							<tr>
								<td></td>
								<td>{{fecha}}</td>
								<td>35</td>
								<td><a href="/campcsv/79/{{fecha}}">Descargar</a></td>
								<td><a href="/camp/79/{{fecha}}">Pinchar aqu&iacute;</td>
							</tr>
							<tr>
                                                                <td></td>
                                                                <td>{{fecha}}</td>
                                                                <td>36</td>
                                                                <td><a href="/campcsv/103/{{fecha}}">Descargar</a></td>
                                                                <td><a href="/camp/103/{{fecha}}">Pinchar aqu&iacute;</td>
							</tr>
							{# Hey it's fuck this shit o'clock! Time for a long break :D
							<tr>
								<td>{{ monitoreo.id }}</td>
								<td>{{ monitoreo.fecha | date("d/m/Y H:i:s", "Etc/GMT+4") }}</td>
								<td id="distancia_{{ monitoreo.id }}">{{ monitoreo.distancia/1000 }} Km</td>
								<!--<td>{{ monitoreo.nombre }}</td> -->
								<td><a href="{{ path('monitor_csv',{'id': monitoreo.id}) }}"><i class="fa fa-icon fa-download"></i></a></td>
								<td><a href="{{ path('monitor_excel',{'id': monitoreo.id}) }}"><i class="fa fa-icon fa-download"></i></a></td>
								<td><a href="{{ path('monitor_kml',{'id': monitoreo.id}) }}"><i class="fa fa-icon fa-download"></i></a></td>
								<td><a href="{{ path('monitor_fakegps',{'id': monitoreo.id}) }}"><i class="fa fa-icon fa-download"></i></a></td>
							</tr>
							#}
							{% endfor %}
							
						</tbody>
					</table>
					</div>
				</div>
			</section>
		</div>
	</div><!-- row -->		

{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script>
	$(function(){
		$("#datos").addClass("active");
		$("#rawdata-table").bootstrapTable();
/*
		{% for monitoreo in monitoreos %}
		$.getJSON("/monitor/haversine/{{ monitoreo.id }}", function(data){
			$("#distancia_{{ monitoreo.id }}").html(data.distance);
		});
		{% endfor %}
*/
	});
</script>
{% endblock %}
