{% extends 'base.html.twig' %}
{% use 'google_map.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
        <h1 class="page-title">{{ client_name }} <small><small>SmartRoad Dashboard <sup>by Eye3</sup></small></small></h1>		
		
		<div class="row">
			<div class="col-lg-12">
				<section class="widget">
				{#{ buster.widget_header_small({ 'title': 'Mapa de material particulado' }) }#}
				{{ buster.widget_header({
					'description': 'Seleccione un rango de fechas para obtener una lista de monitoreos realizados.<br>',
					'title'      : '<span class="fw-semi-bold">Mapa de Material Particulado</span>',
					'header'     : 'Valores en <span class="fw-semi-bold">pcc</span>'
					}) }}
					<p style="margin-bottom:10px;">
						<div class="row">
							<div class="col-xs-8">
								<div id="daterangepicker-monitor" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
									<i class="fa fa-icon fa-calendar"></i>&nbsp;
									<span></span> <b class="caret"></b>
								</div>
							</div>
							<div class="col-xs-4">
								<div id="multiselect-monitor-container">
									<select id="multiselect-monitor" multiple="multiple"></select>
								</div>
							</div>
						</div>
					</p>
					<p style="padding-bottom:1px;"></p>
					{% block google_map_markup %}
						{{ parent() }}
					{% endblock %}
					</div><!-- ./widget-body -->
				</section>

			</div>
		</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	{% block google_map_javascript %}
		{{ parent() }}
	{% endblock %}
	
	<script>
		function cb(start, end) {
			$('#daterangepicker-monitor span').html(start.format('D MMMM, YYYY') + ' - ' + end.format('D MMMM, YYYY'));
		}
		
		function updateMonitorMultiselect(data){
			// Clear all map layers currently enabled -- cannot control them from multiselect anymore
			var layers = Object.keys(dustbuster.layers);
			for (var x=0; x<layers.length; x++){
				console.log("disabling layer ["+ layers[x] +"]");
				dustbuster.layers[layers[x]].setMap(null);
				dustbuster.layers["micro_"+layers[x]].setMap(null);
			}

			$('#multiselect-monitor').multiselect({
				buttonWidth: '100%',
				buttonText: function(options, select){
					if (data.length > 0) {
						return data.length +" encontrados";
					}
					if (options.length === 0){
						return data.length +" encontrados";
					} else {
						if (options.length == 1){
							return "1 seleccionado";
						}
						return options.length+ " seleccionados";
					}
				},
				onChange: function(option, checked) {
					var layer_id = $(option.context).val();
					var gpsid_range = layer_id.split('-').join(',');
					if (checked){
						if (typeof(dustbuster.layers[layer_id]) == 'undefined'){
							dustbuster.layers[layer_id] = new google.maps.Data();
							dustbuster.layers[layer_id].loadGeoJson('geojson/measuretrip/'+ gpsid_range);
							dustbuster.layers[layer_id].infowindow = new google.maps.InfoWindow();

							dustbuster.layers["micro_"+layer_id] = new google.maps.Data();
							dustbuster.layers["micro_"+layer_id].loadGeoJson('geojson/roadcreator/'+ gpsid_range);

							dustbuster.layers[layer_id].setStyle(function (feature) {
								// LineString
								var strokeColor = feature.getProperty('strokeColor'),
									strokeWeight = feature.getProperty('strokeWeight'),
									strokeOpacity = feature.getProperty('strokeOpacity');
									
								// Point (Map marker)
								var icon = feature.getProperty('icon');
								
								return {
									strokeColor: strokeColor,
									strokeWeight: strokeWeight,
									strokeOpacity: strokeOpacity,
									icon: icon
								};
							});
							dustbuster.layers["micro_"+layer_id].setStyle(function (feature) {
								// LineString
								var strokeColor = feature.getProperty('strokeColor'),
									strokeWeight = feature.getProperty('strokeWeight'),
									strokeOpacity = feature.getProperty('strokeOpacity');

								// Point (Map marker)
								var icon = feature.getProperty('icon');

								return {
									strokeColor: strokeColor,
									strokeWeight: strokeWeight,
									strokeOpacity: strokeOpacity,
									icon: icon
								};
							});
						}
						//dustbuster.layers[layer_id].setMap(dustbuster.map);
						dustbuster.layers["micro_"+layer_id].setMap(dustbuster.map);

						// Attach infowindows to description from GeoJSON data
						dustbuster.layers["micro_"+layer_id].addListener('mouseover', function(event) {
							var myHTML = event.feature.getProperty("description");
							var gpsid = event.feature.getProperty("gpsid");
							var type = event.feature.getProperty("type");

							if (type == "pm"){
								var infowindow = dustbuster.layers[layer_id].infowindow;
								var width = "150px";
								if (event.feature.getProperty('icon') == "bundles/app/img/photo.png"){
									width = "400px";
								};
								infowindow.setContent("<div style='width:"+ width +"'; text-align: center;'>"+myHTML+"</div>");
								infowindow.setPosition(event.feature.getGeometry().get());
								infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
								infowindow.open(dustbuster.map);
							}
						});
						dustbuster.layers[layer_id].addListener('click', function(event) {
							var myHTML = event.feature.getProperty("description");
							var gpsid = event.feature.getProperty("gpsid");
							var type = event.feature.getProperty("type");

							if (type == "comment" || type == "photo"){
								var infowindow = dustbuster.layers[layer_id].infowindow;
								var width = "150px";
								if (event.feature.getProperty('icon') == "bundles/app/img/photo.png"){
									width = "500px";
								};
								infowindow.setContent("<div style='width:"+ width +"'; text-align: center;'>"+myHTML+"</div>");
								infowindow.setPosition(event.feature.getGeometry().get());
								infowindow.setOptions({pixelOffset: new google.maps.Size(0,-30)});
								infowindow.open(dustbuster.map);
							}
						});
						dustbuster.layers[layer_id].addListener('mouseout', function(event) {
							var myHTML = event.feature.getProperty("description");
							var gpsid = event.feature.getProperty("gpsid");
							var type = event.feature.getProperty("type");
							if (type == "pm"){
								dustbuster.layers[layer_id].infowindow.close();
							}
						});

						
						console.log("layer "+layer_id+" is ON");
					} else {
						if (typeof(dustbuster.layers[layer_id]) != 'undefined'){
							dustbuster.layers[layer_id].setMap(null);
						}
						console.log("layer "+layer_id+" is OFF");
					}
				}
			});
		}
		
		$(function(){
			$("#caminos").addClass("active");
			
			moment.locale("ES");
			$('#daterangepicker-monitor').daterangepicker({
				ranges: {
					'Hoy': [moment(), moment().add(1,'days')],
					'Ayer': [moment().subtract(1, 'days'), moment()],
					'Últimos 7 Días': [moment().subtract(6, 'days'), moment().add(1,'days')],
					'Últimos 30 Días': [moment().subtract(29, 'days'), moment().add(1,'days')],
					'Este Mes': [moment().startOf('month'), moment().endOf('month').add(1,'days')],
					'El mes pasado': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month').add(1,'days')]
				},
			}, cb);
			$('#daterangepicker-monitor').on('apply.daterangepicker', function(ev, picker) {
				var daterange = picker.startDate.format('YYYY-MM-DD') +","+	picker.endDate.format('YYYY-MM-DD');
				$.getJSON("monitor/daterange/"+ daterange, function(data){
					$('#multiselect-monitor-container').html("<select id='multiselect-monitor' multiple='multiple'></select>");
					for(var x=0; x<data.length; x++){
						$('#multiselect-monitor').append("<option value='"+ data[x].gpsinicial +","+ data[x].gpsfinal +"'>"+ moment.tz(data[x].fecha.date,"UTC").clone().tz("America/Santiago").format('l') +" "+ moment.tz(data[x].fecha.date,"UTC").clone().tz("America/Santiago").format('LT') +"</option>");
					}
					updateMonitorMultiselect(data);
				});
			});
			
			// Default date range: today
			cb(moment(), moment().add(1,'days'));
			$('#daterangepicker-monitor').data('daterangepicker').setStartDate(moment());
			$('#daterangepicker-monitor').data('daterangepicker').setEndDate(moment().add(1,'days'));
			$('#daterangepicker-monitor').data('daterangepicker').clickApply();

			updateMonitorMultiselect([]); // [] = no options
			console.log(dustbuster.map); 
		});
	</script>
{% endblock %}
