{% extends 'base.html.twig' %}
{% use 'google_map.html.twig' %}
{% use 'sidebar.html.twig' %}
{% block sidebar_wrap %}
	{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}



{% block content %}

	<h1 class="page-title">Valve control</h1>
	<div class="row">
		<div class="col-xs-12">
			<p>Current value from database is <b id="valve">0</b>. Select a new value for the valve.</p>
			<div class="form-group">
				<select class="form-control" id="select-rate">
					<option value="0">0</option>
					<option value="1">1</option>
					<option value="2">2</option>
				</select>
			</div>

			<p>Total flow counter is <b id="counter">0</b>. You can reset this counter anytime.</p>
			<button id="btn-reset-flow" type="button" class="btn btn-primary btn-lg">Reset counter</button>

		</div>
	</div>
		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script>

	function refreshValveData(){
		$.get("/valve/status", function(data){
			console.log(data);
			$("#valve").html(data.valve);
			$("#counter").html(data.count);
		});
	}

	$(function(){
		$("#select-rate").change(function(){
			console.log(this.value);
			$.get("/valve/set/"+this.value, function(data){
				console.log(data);
			});
		});

		window.setInterval(function(){
			refreshValveData();			
		}, 3000);

		console.log("DONE");
		//$.get("/calendar/activity/date/{{ hoy | date('Y-m-d') }}", function(data){
		//	console.log(data);
		//});
	});
	</script>
{% endblock %}
