{% extends 'base.html.twig' %}
{% use 'sidebar.html.twig' %}

{% block stylesheets %}
{% endblock %}

{% block sidebar_wrap %}
{{ parent() }}
	{% block sidebar_markup %}
		{{ parent() }}
	{% endblock %}
{% endblock %}

{% block content %}
	<h1 class="page-title">{{ client_name }} <small><small>/ Estaciones de Monitoreo</h1>
		

<!-- tabs begin -->

<!-- tabs end -->
<div class="row">
	<div class="col-xs-12">
                        <section class="widget">
                                <header>
                                        <h5>Mapa de temperatura</h5>
                                        <span>Fuente: Estaciones de monitoreo EYE3 / Spence</span>
                                        <div class="widget-controls">
                                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                                        </div>
                                </header>
                                <div class="widget-body">

<div id="heatmap" style="height: 300px; min-width: 310px; max-width: 1000px; margin: 0 auto"></div>

<!-- Source: http://vikjavev.no/ver/highcharts-demos/heatmap.csv.php?year=2013 -->
<pre id="csv" style="display: none">Fecha,Hora,Temperatura
2013-12-27,7,2.3
2013-12-27,8,4.1
2013-12-27,9,5.6
2013-12-27,10,6.8
2013-12-27,11,5.9
2013-12-27,12,7.1
2013-12-27,13,7.4
2013-12-27,14,7.4
2013-12-27,15,7.0
2013-12-27,16,6.4
2013-12-27,17,5.8
2013-12-27,18,6.0
2013-12-27,19,5.8
2013-12-27,20,5.0
2013-12-27,21,4.9
2013-12-27,22,4.7
2013-12-27,23,4.9
2013-12-28,0,5.8
2013-12-28,1,7.0
2013-12-28,2,6.8
2013-12-28,3,8.0
2013-12-28,4,8.1
2013-12-28,5,7.5
2013-12-28,6,6.8
2013-12-28,7,5.9
2013-12-28,8,4.9
2013-12-28,9,5.0
2013-12-28,10,5.2
2013-12-28,11,6.0
2013-12-28,12,6.7
2013-12-28,13,6.8
2013-12-28,14,6.0
2013-12-28,15,5.8
2013-12-28,16,5.7
2013-12-28,17,5.6
2013-12-28,18,5.7
2013-12-28,19,5.7
2013-12-28,20,5.9
2013-12-28,21,6.2
2013-12-28,22,6.1
2013-12-28,23,6.2
2013-12-29,0,6.8
2013-12-29,1,6.4
2013-12-29,2,5.7
2013-12-29,3,5.4
2013-12-29,4,4.5
2013-12-29,5,4.0
2013-12-29,6,4.1
2013-12-29,7,4.3
2013-12-29,8,4.1
2013-12-29,9,4.5
2013-12-29,10,4.1
2013-12-29,11,3.9
2013-12-29,12,3.8
2013-12-29,13,3.8
2013-12-29,14,3.5
2013-12-29,15,3.4
2013-12-29,16,3.3
2013-12-29,17,2.8
2013-12-29,18,2.6
2013-12-29,19,2.7
2013-12-29,20,1.8
2013-12-29,21,1.6
2013-12-29,22,1.6
2013-12-29,23,1.9
2013-12-30,0,2.3
2013-12-30,1,1.9
2013-12-30,2,1.3
2013-12-30,3,1.7
2013-12-30,4,1.2
2013-12-30,5,1.1
2013-12-30,6,0.8
2013-12-30,7,1.4
2013-12-30,8,1.8
2013-12-30,9,2.0
2013-12-30,10,1.7
2013-12-30,11,1.7
2013-12-30,12,1.7
2013-12-30,13,2.0
2013-12-30,14,2.1
2013-12-30,15,1.9
2013-12-30,16,1.5
2013-12-30,17,1.3
2013-12-30,18,1.3
2013-12-30,19,1.4
2013-12-30,20,1.6
2013-12-30,21,1.7
2013-12-30,22,1.8
2013-12-30,23,1.8
2013-12-31,0,2.0
2013-12-31,1,2.2
2013-12-31,2,2.4
2013-12-31,3,2.8
2013-12-31,4,3.4
2013-12-31,5,5.7
2013-12-31,6,6.4
2013-12-31,7,6.0
2013-12-31,8,5.3
2013-12-31,9,5.0
2013-12-31,10,4.6
2013-12-31,11,4.2
2013-12-31,12,4.3
2013-12-31,13,6.0
2013-12-31,15,7.1
2013-12-31,14,6.8
2013-12-31,16,6.8
2013-12-31,17,6.4
2013-12-31,18,6.0
2013-12-31,19,4.5
2013-12-31,20,3.3
2013-12-31,21,2.2
2013-12-31,22,1.8
2013-12-31,23,1.6</pre>
                        </div><!-- ./widget-body -->
	</div><!-- ./col-xs-12 -->
</div><!-- ./row -->

<!---------------------------------------------->

	<div class="row">
		<div class="col-xs-12">
                        <section class="widget">
                                <header>
                                        <h5>Rosa de vientos</h5>
					<span>Fuente: Estaciones de monitoreo EYE3 / Spence<br>Fecha: 01/07/2017</span>
                                        <div class="widget-controls">
                                                <a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
                                        </div>
                                </header>
                                <div class="widget-body">

<div id="windchart" style="min-width: 420px; max-width: 600px; height: 400px; margin: 0 auto"></div>
	
<div style="display:none">
    <!-- Fuente: Estaciones de monitoreo Spence EYE3 -->
    <table id="freq" border="0" cellspacing="0" cellpadding="0">
        <tr nowrap bgcolor="#CCCCFF">
            <th colspan="9" class="hdr">Table of Frequencies (percent)</th>
        </tr>
        <tr nowrap bgcolor="#CCCCFF">
            <th class="freq">Direction</th>
            <th class="freq">&lt; 0.5 m/s</th>
            <th class="freq">0.5-2 m/s</th>
            <th class="freq">2-4 m/s</th>
            <th class="freq">4-6 m/s</th>
            <th class="freq">6-8 m/s</th>
            <th class="freq">8-10 m/s</th>
            <th class="freq">&gt; 10 m/s</th>
            <th class="freq">Total</th>
        </tr>
        <tr nowrap>
            <td class="dir">N</td>
            <td class="data">1.81</td>
            <td class="data">1.78</td>
            <td class="data">0.16</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">3.75</td>
        </tr>        
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">NNE</td>
            <td class="data">0.62</td>
            <td class="data">1.09</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">1.71</td>
        </tr>
        <tr nowrap>
            <td class="dir">NE</td>
            <td class="data">0.82</td>
            <td class="data">0.82</td>
            <td class="data">0.07</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">1.71</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">ENE</td>
            <td class="data">0.59</td>
            <td class="data">1.22</td>
            <td class="data">0.07</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">1.88</td>
        </tr>
        <tr nowrap>
            <td class="dir">E</td>
            <td class="data">0.62</td>
            <td class="data">2.20</td>
            <td class="data">0.49</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">3.32</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">ESE</td>
            <td class="data">1.22</td>
            <td class="data">2.01</td>
            <td class="data">1.55</td>
            <td class="data">0.30</td>
            <td class="data">0.13</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">5.20</td>
        </tr>
        <tr nowrap>
            <td class="dir">SE</td>
            <td class="data">1.61</td>
            <td class="data">3.06</td>
            <td class="data">2.37</td>
            <td class="data">2.14</td>
            <td class="data">1.74</td>
            <td class="data">0.39</td>
            <td class="data">0.13</td>
            <td class="data">11.45</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">SSE</td>
            <td class="data">2.04</td>
            <td class="data">3.42</td>
            <td class="data">1.97</td>
            <td class="data">0.86</td>
            <td class="data">0.53</td>
            <td class="data">0.49</td>
            <td class="data">0.00</td>
            <td class="data">9.31</td>
        </tr>
        <tr nowrap>
            <td class="dir">S</td>
            <td class="data">2.66</td>
            <td class="data">4.74</td>
            <td class="data">0.43</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">7.83</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">SSW</td>
            <td class="data">2.96</td>
            <td class="data">4.14</td>
            <td class="data">0.26</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">7.37</td>
        </tr>
        <tr nowrap>
            <td class="dir">SW</td>
            <td class="data">2.53</td>
            <td class="data">4.01</td>
            <td class="data">1.22</td>
            <td class="data">0.49</td>
            <td class="data">0.13</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">8.39</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">WSW</td>
            <td class="data">1.97</td>
            <td class="data">2.66</td>
            <td class="data">1.97</td>
            <td class="data">0.79</td>
            <td class="data">0.30</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">7.70</td>
        </tr>
        <tr nowrap>
            <td class="dir">W</td>
            <td class="data">1.64</td>
            <td class="data">1.71</td>
            <td class="data">0.92</td>
            <td class="data">1.45</td>
            <td class="data">0.26</td>
            <td class="data">0.10</td>
            <td class="data">0.00</td>
            <td class="data">6.09</td>
        </tr>
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">WNW</td>
            <td class="data">1.32</td>
            <td class="data">2.40</td>
            <td class="data">0.99</td>
            <td class="data">1.61</td>
            <td class="data">0.33</td>
            <td class="data">0.00</td>
            <td class="data">0.00</td>
            <td class="data">6.64</td>
        </tr>
        <tr nowrap>
            <td class="dir">NW</td>
            <td class="data">1.58</td>
            <td class="data">4.28</td>
            <td class="data">1.28</td>
            <td class="data">0.76</td>
            <td class="data">0.66</td>
            <td class="data">0.69</td>
            <td class="data">0.03</td>
            <td class="data">9.28</td>
        </tr>        
        <tr nowrap bgcolor="#DDDDDD">
            <td class="dir">NNW</td>
            <td class="data">1.51</td>
            <td class="data">5.00</td>
            <td class="data">1.32</td>
            <td class="data">0.13</td>
            <td class="data">0.23</td>
            <td class="data">0.13</td>
            <td class="data">0.07</td>
            <td class="data">8.39</td>
        </tr>
        <tr nowrap>
            <td class="totals">Total</td>
            <td class="totals">25.53</td>
            <td class="totals">44.54</td>
            <td class="totals">15.07</td>
            <td class="totals">8.52</td>
            <td class="totals">4.31</td>
            <td class="totals">1.81</td>
            <td class="totals">0.23</td>
            <td class="totals">&nbsp;</td>
        </tr>
    </table>
</div>
			</div><!-- ./widget-body -->
		</div><!-- ./col -->		
	</div><!-- ./row -->


	<div class="row">
		<div class="col-xs-12">
			<section class="widget">
				<header>
					<h5>
						Temperatura</span>
					</h5>
					<div class="widget-controls">
						<a href="#" data-widgster="close"><i class="glyphicon glyphicon-remove"></i></a>
					</div>
				</header>
				<div class="widget-body">
					<p class="fs-mini text-muted"></p>
					<div id="nvd3chart1"><svg></svg></div>
				</div>
			</section>
		</div>
	</div><!-- row -->
		
		{#
		<!-- Abriendo tabla -->
		<div class="row">
			<div class="col-lg-12">
			{{ buster.widget_table({
				'header': 'Un discurso <span class="fw-semi-bold">atrevido</span>',
				'title' : '<span class="fw-semi-bold">Monitoreo</span>',
				}) }}
			</div>
		</div>
		#}
		

{% endblock %}

{% block javascripts %}
	{{ parent() }}
<script>
    /* Inspired by Lee Byron's test data generator. */
    function _stream_layers(n, m, o) {
        if (arguments.length < 3) o = 0;
        function bump(a) {
            var x = 1 / (.1 + Math.random()),
                y = 2 * Math.random() - .5,
                z = 10 / (.1 + Math.random());
            for (var i = 0; i < m; i++) {
                var w = (i / m - y) * z;
                a[i] += x * Math.exp(-w * w);
            }
        }
        return d3.range(n).map(function() {
            var a = [], i;
            for (i = 0; i < m; i++) a[i] = o + o * Math.random();
            for (i = 0; i < 5; i++) bump(a);
            return a.map(function(d, i) {
                return {x: i, y: Math.max(0, d)};
            });
        });
    }


	function testData(stream_names, pointsCount) {
		var now = new Date().getTime(),
			day = 1000 * 60 * 60 * 24, //milliseconds
			daysAgoCount = 60,
			daysAgo = daysAgoCount * day,
			daysAgoDate = now - daysAgo,
			pointsCount = pointsCount || 45, //less for better performance
			daysPerPoint = daysAgoCount / pointsCount;
		return _stream_layers(stream_names.length, pointsCount, .1).map(function(data, i) {
			return {
				key: stream_names[i],
				values: data.map(function(d,j){
					return {
						x: daysAgoDate + d.x * day * daysPerPoint,
						y: Math.floor(d.y * 100) //just a coefficient,
					}
				})
			};
		});
	}
    
    function initNvd3(){
        nv.addGraph(function() {
            var chart = nv.models.lineChart()
                .margin({left: 28, bottom: 30, right: 0})
                .color(['#F7653F', '#0ddf00','#FFFF00','#0000FF']);

            chart.xAxis
                .showMaxMin(false)
                .tickFormat(function(d) { return d3.time.format('%b %d')(new Date(d)) });

            chart.yAxis
                .showMaxMin(false)
                .tickFormat(d3.format(',f'));

//            chart.controls.margin({left: 0});

            d3.select('#nvd3chart1 svg')
                .style('height', '300px')
                .datum(testData(['Estacion 1', 'Estacion 2', 'Estacion 3', 'Estacion 4'], 10).map(function(el, i){
                    el.area = false;
                    return el;
                }))
                .transition().duration(500)
                .call(chart)
            ;


            SingApp.onResize(chart.update);

            return chart;
        });
    }    
	$(function(){
		$("#riego").addClass("active");
	        initNvd3();
	});

	$(function(){

Highcharts.chart('windchart', {

    data: {
        table: 'freq',
        startRow: 1,
        endRow: 17,
        endColumn: 7
    },

    chart: {
        polar: true,
        type: 'column'
    },

    title: {
        text: ''
    },

    subtitle: {
        //text: 'Fuente: Estaciones de monitoreo fijo Spence - EYE3'
    },

    pane: {
        size: '85%'
    },

    legend: {
        align: 'right',
        verticalAlign: 'top',
        y: 100,
        layout: 'vertical'
    },

    xAxis: {
        tickmarkPlacement: 'on'
    },

    yAxis: {
        min: 0,
        endOnTick: false,
        showLastLabel: true,
        title: {
            text: 'Frecuencia (%)'
        },
        labels: {
            formatter: function () {
                return this.value + '%';
            }
        },
        reversedStacks: false
    },

    tooltip: {
        valueSuffix: '%'
    },

    plotOptions: {
        series: {
            stacking: 'normal',
            shadow: false,
            groupPadding: 0,
            pointPlacement: 'on'
        }
    }
});
	});


//---------------
$(function(){
Highcharts.chart('heatmap', {

    data: {
        csv: document.getElementById('csv').innerHTML
    },

    chart: {
        type: 'heatmap',
        margin: [60, 10, 80, 50]
    },

    boost: {
        useGPUTranslations: true
    },

    title: {
        text: '',
        //align: 'left',
        //x: 40
    },

    subtitle: {
        //text: 'Temperature variation by day and hour through 2013',
        //align: 'left',
        //x: 40
    },

    xAxis: {
        type: 'datetime',
        min: Date.UTC(2013, 11, 27),
        max: Date.UTC(2014, 0, 1),
        labels: {
            align: 'left',
            x: 5,
            y: 14,
            format: '{value:%B}' // long month
        },
        showLastLabel: false,
        tickLength: 16
    },

    yAxis: {
        title: {
            text: null
        },
        labels: {
            format: '{value}:00'
        },
        minPadding: 0,
        maxPadding: 0,
        startOnTick: false,
        endOnTick: false,
        tickPositions: [0, 6, 12, 18, 24],
        tickWidth: 1,
        min: 0,
        max: 23,
        reversed: true
    },

    colorAxis: {
        stops: [
            [0, '#3060cf'],
            [0.5, '#fffbbc'],
            [0.9, '#c4463a'],
            [1, '#c4463a']
        ],
        min: -15,
        max: 25,
        startOnTick: false,
        endOnTick: false,
        labels: {
            format: '{value}℃'
        }
    },

    series: [{
        boostThreshold: 100,
        borderWidth: 0,
        nullColor: '#EFEFEF',
        colsize: 24 * 36e5, // one day
        tooltip: {
            headerFormat: 'Temperatura<br/>',
            pointFormat: '{point.x:%e %b, %Y} {point.y}:00: <b>{point.value} ℃</b>'
        },
        turboThreshold: Number.MAX_VALUE // #3404, remove after 4.0.5 release
    }]

});

});



</script>
{% endblock %}
