<!DOCTYPE html>
{% trans_default_domain 'FOSUserBundle' %}
<html>
<head>
    <title>{{ client_name }} SmartRoad</title>
    <link href="{{ asset('bundles/app/css/application.min.css') }}" rel="stylesheet">
    <!-- as of IE9 cannot parse css files with more that 4K classes separating in two files -->
    <!--[if IE 9]>
        <link href="{{ asset('bundles/app/css/application-ie9-part2.css') }}" rel="stylesheet">
    <![endif]-->
    <link rel="shortcut icon" href="{{ asset('favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <script>
        /* yeah we need this empty stylesheet here. It's cool chrome & chromium fix
         chrome fix https://code.google.com/p/chromium/issues/detail?id=167083
         https://code.google.com/p/chromium/issues/detail?id=332189
         */
    </script>
</head>
<body class="login-page">

<div class="container">
    <main id="content" class="widget-login-container" role="main">
        <div class="row">
            <div class="col-xl-4 col-md-6 col-xs-10 col-xl-offset-4 col-md-offset-3 col-xs-offset-1">
                <h5 class="widget-login-logo animated fadeInUp">
                    <i class="fa fa-circle text-gray"></i>
                    {{ client_name }} | Monitoreo de MP
                    <i class="fa fa-circle text-warning"></i>
                </h5>
                <section class="widget widget-login animated fadeInUp">
                    <header>
                        <h3>Restablecer contraseña</h3>
                    </header>
                    <div class="widget-body">
                        <p class="widget-login-info">
			Escriba y repita una nueva contraseña en los cuadros que aparecen a continuación.
                        </p>
                        <p class="widget-login-info">

{% if (app.request.get('fos_user_resetting_form')['plainPassword']['first']) is defined and (app.request.get('fos_user_resetting_form')['plainPassword']['first'] != app.request.get('fos_user_resetting_form')['plainPassword']['second']) %}
            <div class="red" style="color:#ff0000;">
              {{ 'fos_user.password.mismatch' | trans({}, 'validators') }}. Por favor inténtelo nuevamente.
            </div>
{% endif %}
                        </p>
                        <form class="login-form mt-lg" method="post" action="{{ path('fos_user_resetting_reset', {'token': token}) }}">
                            <input type="hidden" name="fos_user_resetting_form[_token]" value="{{ form.children._token.vars.value }}"/>
                            <input type="hidden" name="_target_pat" value="/"/>
                            <div class="form-group">
                                <input type="password" class="form-control" id="pswd1" name="fos_user_resetting_form[plainPassword][first]" required="required">
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" id="pswd2" name="fos_user_resetting_form[plainPassword][second]" required="required">
                            </div>
                            <div class="clearfix">
                                <div class="btn-toolbar pull-xs-right">
<button type="submit class="btn btn-inverse btn-sm">Enviar</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-md-push-6">
                                </div>

                            </div>
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </main>
    <footer class="page-footer">
        2016 &copy; <a href="http://www.eye3.cl">Eye3</a>
    </footer>
</div>
<!-- The Loader. Is shown when pjax happens -->
<div class="loader-wrap hiding hide">
    <i class="fa fa-circle-o-notch fa-spin-fast"></i>
</div>

<!-- common libraries. required for every page-->
<script src="{{ asset('bundles/app/js/jquery/dist/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/app/js/jquery-pjax/jquery.pjax.js') }}"></script>
<script src="{{ asset('bundles/app/js/tether/dist/js/tether.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/util.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/collapse.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/dropdown.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/button.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/tooltip.js') }}"></script>
<script src="{{ asset('bundles/app/js/bootstrap/js/dist/alert.js') }}"></script>
<script src="{{ asset('bundles/app/js/slimScroll/jquery.slimscroll.js') }}"></script>
<script src="{{ asset('bundles/app/js/widgster/widgster.js') }}"></script>

<!-- common app js -->
<script src="{{ asset('bundles/app/js/settings.js') }}"></script>
<script src="{{ asset('bundles/app/js/app.js') }}"></script>

<!-- page specific libs -->
<!-- page specific js -->
</body>
</html>
