{% extends '::base.html.twig' %}

{%- block body -%}
 

	<div class="page-content-area">
						<div class="page-header">
							<h1>Subir Archivo</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->
								 {{ form_start(form, {'attr':{'class':'form-horizontal'}}) }}
								<!-- #section:elements.form -->
							
								<div class="space-4"></div>
								<div class="space"></div>

								<div class="form-group">
									{{ form_label(form.file, '', { 'label_attr': { 'class': 'col-sm-2 control-label no-padding-right' }}) }}

										{{ form_widget(form.file, {'attr': {'class': 'col-xs-10 col-sm-3 col-sm-offset-1' }}) }}
									<div class="col-sm-3">
										{{ form_errors(form.file) }}
									</div>
								</div>	
								
								

								<!-- /section:elements.form -->
								<div class="space-4"></div>

								<div class="space"></div>

								<div class="clearfix form-actions">
								<div class="col-md-offset-5 col-md-7">


								{{ form_widget(form.submit, {'label':'Subir', 'attr':{'class':'btn btn-info'}}) }}

								&nbsp; &nbsp;
								<button type="reset" class="btn">
									<i class="ace-icon fa fa-undo bigger-110"></i>
									Borrar
								</button>
							</div>
						</div>
						{{ form_end(form) }}
	
	


{% endblock %}
